@import "../../styles/variables.scss";

// Sub Head Css  Style
.subHead {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray_80;
  position: sticky;
  top: 54px;
  z-index: 9;
  background: $color-white;
  padding-top: 10px;

  .headName {
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
  }

  .mainTabsList {
    display: flex;
    list-style: none;
    .mainTab {
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      padding: 8px 12px;
      box-sizing: border-box;

      &.active {
        border-bottom: 2px solid $black;
        font-weight: 700;
      }

      // &:hover{
      //   font-size: 13px;
      //   font-weight: 700;
      // }
    }
  }

  .actionBarWrap {
    display: flex;
    align-items: center;

    .sortByWrap {
      .sortByText {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
      }

      .sortByDD {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        border: 0px solid;
        margin-right: 4px;
      }
    }

    .niftyWrap {
      padding: 0 4px;
      margin-right: 10px;
      .niftyBtn {
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        padding: 2px 8px;
        border: 1px solid;
        border-radius: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .filterIcon {
          font-size: 20px;
        }
      }
    }

    .listingType {
      display: flex;
      border: 1px solid;
      border-radius: 24px;
      align-items: center;
      list-style: none;
      overflow: hidden;

      li {
        padding: 2px 8px;
        cursor: pointer;

        &.active {
          background-color: $salmon-40;
        }

        .listingIcon {
          font-size: 20px;
          vertical-align: middle;
        }
      }
    }
  }
}

// Left Nav
.newRecosWrap {
  list-style: none;
  font-size: 12px;
  margin-right: 16px;
  position: sticky;
  top: 120px;
  height: calc(100vh - 120px);

  .newRecosSSList {
    padding: 4px 8px;
    width: 180px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;

    &.active {
      font-weight: 600;
      background-color: $salmon-40;
    }

    .ssLabel {
      display: block;
    }
  }
}

.contentWrap {
  margin-top: 32px;
  display: flex;

  .contentViewWrap {
    width: 100%;
    &.gridViewWrap {
      width: calc(100% - 196px);
    }
  }

  &.overviewWrap {
    flex-direction: column;
    margin-top: 0;
    .overviewMain {
      position: relative;
      .title {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 40px 0 27px;
      }

      .overviewBlockerWrap {
        border-radius: 8px;
        border: 1px solid $gray-80;
      }

      .overViewCardWrap {
        display: flex;
      }

      .overviewViewAll {
        text-align: right;
        font-size: 16px;
        line-height: 19.5px;
        font-weight: 600;
        color: $blue_secondary_50;
        display: flex;
        justify-content: flex-end;
        a {
          display: flex;
          align-items: center;
        }

        .arrowIcon {
          border: 1px solid $color-black;
          border-radius: 50%;
          font-size: 24px;
          margin-left: 14px;
        }
      }
    }
  }
}

.listingWrap {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  // // margin-left: 16px;
  // width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;

  &.noDataFound {
    width: 100%;
    justify-content: center;
  }
}
.gridMainBox {
  position: relative;
  width: 100%;
  .tableWrapper {
    display: flex;
    position: relative;
    overflow: auto;
    overflow-y: "scroll";
    justify-content: flex-start;
    .fixedWrap {
      overflow: auto;
      width: 100%;
      min-width: max-content;
      max-width: max-content;
      -ms-overflow-style: none;
      scrollbar-width: none;
      box-shadow: 1px 0px 12px 0px rgba(0, 0, 0, 0.06);
      z-index: 1;
      td {
        color: $color-black;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        text-align: left;
      }
    }
    .scrollWrap {
      width: 100%;
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    table {
      // width: 100%;
      border-collapse: collapse;
      overflow-x: auto;
      border-left: 1px solid $gray_95;
      .lastMaxTD {
        width: 100%;
      }
      .companyNameTH {
        width: 280px;
        min-width: 280px;
        text-align: left;
      }
      thead {
        position: relative;
        z-index: 1;
        tr {
          background-color: $color-white;
          th {
            position: relative;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            padding: 7px 8px;
            color: $gray_30;
            background-color: $gray_95;
            border-right: 1px solid $gray_95;
            border-bottom: 1px solid $gray_80;
            border-right-style: solid;
            -webkit-box-orient: vertical;
            vertical-align: middle;
            height: 48px;
          }
        }
      }
      tbody {
        tr {
          background-color: $color-white;
          td {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            height: 40px;
            color: $color-black;
            padding: 0px 8px;
            border-right: 1px solid $gray-95;
            border-bottom: 1px solid $gray-80;
            background: $color-white;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
            height: 51px;

            &.newRecosfundName {
              text-align: left;
            }
            // &:first-child {
            //   color: $color-black;
            //   font-size: 14px;
            //   font-style: normal;
            //   font-weight: 600;
            //   line-height: 18px;
            //   text-align: left;
            // }
            &.recommendation {
              text-align: left;
              .buySellTitle {
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
              }
              .callDateBox {
                font-size: 10px;
                font-weight: 400;
              }
            }
            .targetMet {
              background-color: $gray_95;
              color: $gray_40;
              font-weight: 700;
              font-size: 12px;
            }
            .tdColWrap {
              position: relative;
              display: flex;
              align-items: center;

              .companyName {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 250px;
                display: inline-block;
              }
            }
            .potential {
              text-align: center;
              display: inline-block;
              padding: 8px 12px;
              width: 100%;
              &.upSide {
                padding: 8px 12px;
                background-color: $green-05;
                color: $green-80;
              }
              &.downSide {
                background-color: $red-05;
                color: $red-60;
              }
            }
            .avgTargetVal {
              font-weight: 700;
              color: $gray-20;
              font-size: 14px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }
            .currentPriceVal {
              color: $gray-05;
              font-size: 14px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }
            .buyCountVal {
              color: $green-80;
              font-size: 14px;
            }
            .sellCountVal {
              color: $red-60;
              font-size: 14px;
            }
            .holdCountVal,
            .addCountVal,
            .accumulateCountVal,
            .neutralCountVal,
            .targetPrice,
            .recosPriceVal,
            .organisationName {
              color: $gray-30;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }
            .organisationName {
              color: $gray-05;
              font-size: 10px;
              font-weight: 400;
            }

            &.pdfIcon {
              text-align: center;
              font-size: 20px;
            }
          }
        }
      }

      [data-name="Total Recos"] {
        width: 120px;
        text-align: right;
        min-width: 120px;
      }

      [data-name="Buy"],
      [data-name="Sell"],
      [data-name="Hold"],
      [data-name="Add"],
      [data-name="Accumulate"],
      [data-name="Neutrals"],
      [data-name="Total"] {
        width: 100px;
        text-align: right;
        min-width: 100px;
      }

      [data-name="Recommendation"] {
        width: 140px;
        text-align: left;
        min-width: 140px;
      }

      [data-name="Potential Upside/Downside"],
      [data-name="Target Price"] {
        min-width: 130px;
        text-align: right;
        min-width: 130px;
      }

      [data-name="Current Price"],
      [data-name="Price at Recos"],
      [data-name="Avg. Target"] {
        min-width: 120px;
        text-align: right;
        min-width: 120px;
      }

      [data-name="Brokerage House"] {
        min-width: 160px;
        text-align: left;
        min-width: 160px;
      }

      [data-name="Report"] {
        width: 100px;
        text-align: center;
        min-width: 100px;
      }
    }
  }
}

.fundHousesLeftNavWrap {
  list-style: none;
  margin-right: 16px;
  position: sticky;
  top: 120px;
  height: calc(100vh - 120px);
  overflow-y: auto;
  /* Track */
  ::-webkit-scrollbar {
    width: 4px; /* width of the scrollbar */
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $salmon-60; /* color of the scrollbar track */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #eacdc5; /* color of the scrollbar handle */
  }

  .fundHousesLeftNav {
    width: 180px;
    padding: 8px 0 8px 8px;
    cursor: pointer;
    font-size: 12px;

    .organisationNavName {
      padding-bottom: 0px;
    }

    &.allBrokeragesTab {
      padding-left: 18px;

      &.active {
        border-radius: 3px;
        background-color: $salmon-40;
        font-weight: 600;
      }
    }

    .navTitle {
      display: flex;
      .arrowIcon {
        margin-right: 4px;
      }
    }

    .fundFilterWrap {
      list-style: none;
      padding: 0 20px;

      .fundFilter {
        padding: 4px 8px;
        display: block;

        a {
          display: block;
        }

        &.active {
          border-radius: 3px;
          background-color: $salmon-40;
          font-weight: 600;
        }
      }
    }
  }
}

.green {
  color: $green_secondary_dark;
}

.red {
  color: $red_secondary_dark;
}

.gray {
  color: $gray_30;
}

.brokerageWrap {
  background-color: $salmon-40;
  display: flex;
  border-radius: 3px;
  padding: 15px 19px;
  margin-top: 32px;
  align-items: center;

  .totalRecosWrap {
    .totalRecosTitle {
      font-size: 14px;
      font-weight: 600;
      margin-right: 14px;
    }
    .totalRecosval {
      font-size: 16px;
      font-weight: 700;
    }
  }

  .pipe {
    width: 0px;
    height: 30px;
    border-left: 1px solid $color-black;
    margin: 0 39px;
  }

  .buyWrap {
    font-size: 14px;
    margin-right: 75px;
    .buyTitle {
      font-weight: 600;
      color: $green_secondary_dark;
      margin-right: 6px;
    }
    .buyval {
      font-weight: 500;
    }
  }

  .sellWrap {
    font-size: 14px;
    margin-right: 75px;
    .sellTitle {
      font-weight: 600;
      color: $redText;
      margin-right: 6px;
    }
    .sellVal {
      font-weight: 500;
    }
  }

  .holdWrap {
    font-size: 14px;
    margin-right: 75px;
    .holdTitle {
      font-weight: 600;
      color: $grayText;
      margin-right: 6px;
    }
    .holdVal {
      font-weight: 500;
    }
  }

  .addWrap {
    font-size: 14px;
    margin-right: 75px;
    .addTitle {
      font-weight: 600;
      color: $grayText;
      margin-right: 6px;
    }
    .addVal {
      font-weight: 500;
    }
  }

  .accumulateWrap {
    font-size: 14px;
    margin-right: 75px;
    .accumulateTitle {
      font-weight: 600;
      color: $grayText;
      margin-right: 6px;
    }
    .accumulateVal {
      font-weight: 500;
    }
  }

  .neutralWrap {
    font-size: 14px;
    margin-right: 75px;
    .neutralTitle {
      font-weight: 600;
      color: $grayText;
      margin-right: 6px;
    }
    .neutralVal {
      font-weight: 500;
    }
  }
}

.loaderFacebook {
  display: inline-block;
  position: relative;
  height: 64px;
  width: 64px;
}

.loaderFacebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  animation: loader-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  width: 13px;
  background: $salmon-70;
}

.loaderFacebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}

.loaderFacebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}

.loaderFacebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}

.disclaimer {
  padding: 32px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-95;
  font-weight: 400;
  color: $gray-30;
  margin-top: 40px;
}

@keyframes loader-facebook {
  0% {
    top: 6px;
    height: 51px;
  }

  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

@supports not (display: grid) {
  .listingWrap {
    display: flex;
    flex-wrap: wrap;
  }
}
