@import "../../styles/variables.scss";

// Sub Head Css  Style
.subHead {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray_80;

  .headName {
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
  }

  .mainTabsList {
    display: flex;
    list-style: none;
    .mainTab {
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      padding: 8px 12px;
      box-sizing: border-box;

      &.active {
        border-bottom: 2px solid $black;
        font-weight: 700;
      }

      // &:hover{
      //   font-size: 13px;
      //   font-weight: 700;
      // }
    }
  }

  .actionBarWrap {
    display: flex;
    align-items: center;

    .sortByWrap {
      .sortByText {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
      }

      .sortByDD {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        border: 0px solid;
        margin-right: 4px;
      }
    }

    .niftyWrap {
      padding: 0 4px;
      .niftyBtn {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        padding: 2px 8px;
        border: 1px solid;
        border-radius: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    .listingType {
      display: flex;
      border: 1px solid;
      border-radius: 24px;
      align-items: center;
      list-style: none;
      overflow: hidden;

      li {
        padding: 2px 8px;
        cursor: pointer;

        &.active {
          background-color: $salmon-40;
        }
      }
    }
  }
}

// Left Nav
.newRecosWrap {
  list-style: none;
  font-size: 12px;

  .newRecosSSList {
    padding: 4px 8px;
    width: 160px;
    cursor: pointer;

    &.active {
      font-weight: 600;
      background-color: $salmon-40;
    }

    .ssLabel {
      display: block;
    }
  }
}

.contentWrap {
  margin-top: 10px;
  display: flex;

  &.overviewWrap {
    flex-direction: column;
    .overviewMain {
      position: relative;
      .title {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 40px 0 27px;
      }

      .overviewViewAll {
        text-align: right;
        font-size: 16px;
        line-height: 19.5px;
        font-weight: 600;
        color: $blue-50;
        display: flex;
        justify-content: flex-end;
        a {
          display: flex;
          align-items: center;
        }

        .arrowIcon {
          border: 1px solid $black;
          border-radius: 50%;
          font-size: 24px;
          margin-left: 14px;
        }
      }
    }
  }
}

.listingWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  // margin-left: 16px;

  &.noDataFound {
    width: 100%;
    justify-content: center;
  }
}
.gridMainBox {
  position: relative;
  width: 100%;
  .tableWrapper {
    margin-top: 20px;
    display: flex;
    position: relative;
    overflow: auto;
    overflow-y: "scroll";
    justify-content: flex-start;
    table {
      width: 100%;
      border-collapse: collapse;
      overflow-x: auto;
      border-left: 1px solid rgb(244, 244, 244);
      thead {
        position: relative;
        z-index: 1;
        tr {
          background-color: #ffffff;
          th {
            position: relative;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            white-space: nowrap;
            padding: 15px 30px 15px 10px;
            color: rgb(77, 77, 77);
            background-color: rgb(244, 244, 244);
            border-right: 1px solid rgb(244, 244, 244);
            border-bottom: 1px solid rgb(204, 204, 204);
            border-right-style: solid;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            &:nth-child(1) {
              width: 200px;
            }
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8) {
              width: 110px;
            }
          }
        }
      }
      tbody {
        tr {
          background-color: #ffffff;
          td {
            font-family: "Lato";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            height: 40px;
            color: rgb(0, 0, 0);
            padding: 10px 15px;
            border-right: 1px solid rgb(244, 244, 244);
            border-bottom: 1px solid rgb(204, 204, 204);
            background: #ffffff;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:first-child {
              color: rgb(0, 0, 0);
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 18px;
              text-align: left;
            }
            .tdColWrap {
              position: relative;
              display: flex;
              align-items: center;
            }
            .potential {
              text-align: center;
              display: inline-block;
              padding: 8px 12px;
              width: 100%;
              &.upSide {
                padding: 8px 12px;
                background-color: #e9fbe9;
                color: #147014;
              }
              &.downSide {
                background-color: #fef1f3;
                color: #d51131;
              }
            }
            .avgTargetVal {
              font-weight: 700;
              color: #333333;
              font-size: 14px;
            }
            .currentPriceVal {
              color: #0d0d0d;
              font-size: 14px;
            }
            .buyCountVal {
              color: #147014;
              font-size: 14px;
            }
            .sellCountVal {
              color: #d51131;
              font-size: 14px;
            }
            .holdCountVal,
            addCountVal,
            .accumulateCountVal,
            neutralCountVal,
            .targetPrice,
            .recosPriceVal,
            .organisationName {
              color: #0d0d0d;
            }
            .organisationName {
              color: #0d0d0d;
              font-size: 10px;
              font-weight: 400;
            }

            &.pdfIcon {
              text-align: center;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
