@import "@/styles/variables.scss";
.stockDesc {
  font-size: 14px;
  line-height: 18px;
  padding: 8px 10px;
  span {
    display: inline-block;
    margin-right: 3px;
    i {
      font-size: 20px;
      vertical-align: text-bottom;
    }
  }
  .green {
    color: $green-50;
  }
  .red {
    color: $red-40;
  }
}
