@import "@/styles/variables.scss";

.head {
  padding: 12px 5px 0 10px;
  .totalRecords {
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    padding-right: 10px;
  }
}
.endWithGap {
  justify-content: flex-end;
  gap: 10px;
}
.filterBtn {
  display: flex;
  font-size: 0.75rem;
  font-weight: 600;
  & + .filterBtn {
    border-left: 1px solid $gray-90;
    padding-left: 10px;
  }
  span {
    max-width: 88px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &.full {
      max-width: none;
    }
  }
  i {
    font-size: 16px;
    font-weight: bold;
    vertical-align: bottom;
  }
}
