@import "@/styles/variables.scss";

#l3Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #cdcdcd;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -20px;
  padding: 10px 20px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  position: sticky;
  background: #fff;
  top: 48px;
  z-index: 4;
  .l3ListWrapper {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    width: calc(100% - 480px);

    .l3List {
      position: relative;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      cursor: pointer;
      white-space: nowrap;
      &.active {
        font-weight: 700;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -12px;
          border-bottom: solid 2px #000000;
        }
      }
    }
  }
}
