@import "@/styles/variables.scss";

#l3Nav {
  position: sticky;
  top: 48px;
  margin: 0;
  padding: 12px 10px 0;
  border-bottom: 1px solid $gray-80;
  background: $white;
  z-index: 2;
  .l3ListWrapper {
    display: flex;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    gap: 15px;
    &::-webkit-scrollbar {
      display: none;
    }
    .l3List {
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      list-style: none;
      padding-bottom: 5px;
      &.active {
        font-weight: 600;
        border-bottom: 2px solid $black;
      }
    }
  }
}
