@import "../../styles/variables.scss";

.stocksMain {
  position: relative;
  display: flex;
  min-width: 380px;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  margin-bottom: 40px;
  border-radius: 8px;
  border: 1px solid #b3b3b3;
  background: #ffffff;
  &.stockGap {
    // gap: 32px;
  }

  // Apply red color if stocksMain has class sellStock
  &.sellStock {
    .buySellTitle {
      color: #d51131;
    }
    .potensialBox {
      background-color: #fef1f3;
      h4 {
        color: #d51131;
      }
    }
  }

  // Apply green color if stocksMain has class buyStock
  &.buyStock {
    .buySellTitle {
      color: #147014;
    }
    .potensialBox {
      background-color: #e9fbe9;
      h4 {
        color: #147014;
      }
    }
  }

  &.GreyStock {
    .buySellTitle {
      color: #666666;
    }
    .potensialBox {
      background-color: #f4f4f4;
      h4 {
        color: #666666;
      }
    }
  }
  .stocksBox {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    .stocksCallDates {
      display: flex;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      .buySellTitle {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
      }

      .callDateBox {
        display: flex;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        gap: 8px;
      }
    }
    .stocksTitle {
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 90%;
    }
    .updownTargetBox {
      display: flex;
      align-items: center;
      gap: 16px;
      align-self: stretch;
      .potensialBox {
        display: flex;
        min-width: 108px;
        max-width: 120px;
        padding: 12px 16px;
        flex-direction: column;
        gap: 16px;
        h3 {
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
          color: $gray-40;
        }
        h4 {
          font-size: 18px;
          font-weight: 700;
          line-height: normal;
        }
      }
      .targetBox {
        display: block !important;
        list-style: none;
        width: 100%;
        li {
          display: flex;
          padding: 8px 0px;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
          border-bottom: 1px dotted $gray-70;
          &:first-child {
            span:last-child {
              font-weight: 700;
            }
          }
          span:first-child {
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
          }
          span:last-child {
            font-size: 14px;
            font-weight: 400;
            line-height: normal;

            &.buyCount {
              color: $green-80;
              font-weight: 700;
            }
          }

          .sellCount {
            color: $red-60;
          }
        }
      }
    }
  }
  .viewReportWrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 7px 16px 12px 0;
    .viewReportBox {
      position: relative;
      // right: 20px;
      // bottom: 40px;
      border-radius: 2px;
      border: 0.5px solid #000000;
      padding: 2px 7px 2px 25px;
      background: #fff3f0;
      .pdfIcon {
        position: absolute;
        left: -2px;
        bottom: 0;
        font-size: 28px;
      }
      .viewReport {
        font-size: 10px;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  .brokerageBox {
    display: flex;
    align-items: center;
    align-self: stretch;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 5px 12px;
    gap: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #f4f4f4;
  }
  .buySellFooterBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    width: 100%;
    padding: 5px 12px;
    gap: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #f4f4f4;
    .buySellBox {
      display: flex;
      align-items: center;
      gap: 15px;
      .buyBox {
        display: flex;
        gap: 5px;
        span:first-child {
          color: #147014;
        }
        span:last-child {
          font-weight: 700;
        }
      }
      .sellBox {
        display: flex;
        gap: 5px;
        span:first-child {
          color: #ed193b;
        }
        span:last-child {
          font-weight: 700;
        }
      }
      .holdBox {
        display: flex;
        gap: 5px;
        span:first-child {
          color: #333333;
        }
        span:last-child {
          font-weight: 700;
        }
      }
    }
    .totalCountBox {
      display: flex;
      gap: 5px;
      span:first-child {
        font-weight: 600;
        color: #000000;
      }
      span:last-child {
        font-weight: 700;
      }
    }
  }
}

.stockRecosPage {
  &.stocksMain {
    width: 32%;
    margin-right: 2%;
    min-width: auto;
    gap: unset;
    .stocksBox {
      gap: unset;

      .stocksTitle {
        margin-top: 8px;
      }
      .updownTargetBox {
        margin-top: 20px;
      }
    }
  }
  &.stocksMain:nth-child(3n) {
    margin-right: 0;
  }
}

.stockRecosOverviewTab {
  &.stocksMain {
    gap: unset;
    .stocksBox {
      gap: unset;

      .stocksTitle {
        margin-top: 8px;
      }
      .updownTargetBox {
        margin-top: 20px;
      }
    }
  }
}
