@import "../../styles/variables.scss";

.blockerContainer {
    // height: 300px;
    text-align: center;
    padding: 40px 20px;
    font-family: $Montserrat-font-family;

    p {
        color: $color-black;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        padding: 16px 10px 20px 10px;
    }

    button {
        border-radius: 3px;
        border: 1px solid $color-black;
        background: $color-black;
        padding: 10px 24px;
        color: $color-white;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
    }
}