@import "../../styles/variables.scss";
.tableWrapper{
    margin-top:20px;
    display: flex;
    position: relative;
    height: 300px;
    overflow: auto;
    overflow-y: 'scroll';
    justify-content: center;
    font-family: $Montserrat-font-family;

    .inputWrapper{
        text-align: center;
        padding: 8px 12px;
        .filterInput{
            width: 100%;
            min-width: 55px;
            height: 32px;
            background-color: $gray_95;
            border: 0;
            padding: 8px 16px;
            border-radius: 3px;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            color: $gray_30;
        }
        .filterInputFirst{
            width: 191px;
        }
    }
}
.watchListTable{
    border:solid 1px #ddd;
    width:100%;
    border-collapse: collapse;
    overflow-x: auto;
    td{
        padding:10px 5px;
        border-right:solid 1px #F4F4F4;
        border-bottom: solid 1px #BABABA;
        text-align: left;
        color: #666; 
        font-size: 14px;
        font-style: normal;
        font-weight: 500; 
        height: 40px;
        text-overflow: ellipsis;
    }
    th{
        white-space: nowrap;
        padding: 16px 8px;
        background-color: $gray_90;
        border-right-width: 1px;
        border-right-style: solid;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: $gray_80;
        font-family: $Montserrat-font-family;
        font-weight:600;
        color: $gray_30;
        font-size: 12px;
        line-height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }
    td{
        &:first-child{
            color: #333;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal; 
            height: 40px;
        }
    }
    th:first-child {
        width: 199px;
        height: 48px;
    }
}

.fixedWrapper{
    overflow: auto;
    width: 100%;
    max-width: min-content;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    table{
        border:solid 1px #ddd;
        width: 400px;
        border-collapse: collapse;
        overflow: auto;
    }
    .fixedTD{
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.fixedWrapper::-webkit-scrollbar { 
    display: none;
}
.scrollableWrapper{
    overflow-y: auto;
}