.tableWraper{
    margin-top:20px;
}
.wathcListTable{
    border:solid 1px #ddd;
    width:100%;
    border-collapse: collapse;
    td{
        padding:10px 5px;
        border-right:solid 1px #F4F4F4;
        border-bottom: solid 1px #BABABA;
        text-align: left;
        color: #666; 
        font-size: 14px;
        font-style: normal;
        font-weight: 500; 
    }
    th{
        background: #F8F8F8;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
        padding:15px 5px;
        color:#000000;
    }
    td{
        &:first-child{
            color: #333;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal; 
        }
    }
}