.right_vidBox {
  max-width: 100%;
  img {
    width: 100%;
  }
  h4 {
    font-size: 16px;
    margin: 5px 0;
  }
  .videoDetails {
    display: flex;
    margin-bottom: 15px;
    gap: 15px;
    span {
      font-size: 12px;
    }
  }
}
.left_ieContent {
  min-width: 34%;
  max-width: 34%;
  max-height: 550px;
  .videoShowWrapper {
    cursor: pointer;
    img {
      max-height: 400px;
    }
  }
  h3 {
    margin: 8px 0;
    font-size: 24px;
  }
  .videoDetails {
    display: flex;
    margin-bottom: 15px;
    gap: 25px;
    span {
      font-size: 12px;
    }
  }
  .socialDetails {
    display: flex;
    gap: 20px;
    span {
      padding: 5px 15px;
      border: 1px solid;
      border-radius: 20px;
    }
  }
}
