@import "../../styles/variables.scss";
.subHead {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray_80;
  position: sticky;
  top: 54px;
  z-index: 8;
  background: $color-white;
  padding-top: 10px;

  .headName {
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
  }

  .mainTabsList {
    display: flex;
    list-style: none;
    .mainTab {
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      padding: 8px 12px;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      align-items: center;

      &.active {
        border-bottom: 2px solid $black;
        font-weight: 700;
      }
    }
  }
}
.right_vidBox {
  max-width: 100%;
  .redirectLink {
    position: relative;
    display: block;
    .playbutton {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .playBtn {
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: 3px solid white; /* White border */
      border-radius: 50%; /* Circle background */
      position: relative;
      cursor: pointer;
    }

    .playBtn::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-left: 12px solid white; /* White triangle (Play icon) */
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }
    .duration {
      position: absolute;
      left: 10px;
      bottom: 10px;
      background: #ed1c25;
      font-size: 11px;
      font-weight: bold;
      color: #fff;
      padding: 2px 5px;
    }
  }
  img {
    width: 100%;
  }
  h4 {
    font-size: 16px;
    margin: 5px 0;
  }
  .videoDetails {
    display: flex;
    margin-bottom: 15px;
    gap: 15px;
    span {
      font-size: 12px;
    }
  }
}
.right_vidBox.noSlider {
  width: 31%;
  margin-right: 2%;
  margin-bottom: 20px;
}
.left_ieContent {
  min-width: 34%;
  max-width: 34%;
  max-height: 550px;
  .videoShowWrapper {
    cursor: pointer;
    position: relative;
    img {
      height: 400px;
      max-height: 400px;
    }
    .playButton {
      position: absolute;
      top: 180px;
      left: 49%;
    }
  }
  h3 {
    margin: 8px 0;
    font-size: 24px;
  }
  .videoDetails {
    display: flex;
    margin-bottom: 15px;
    gap: 25px;
    span {
      font-size: 12px;
    }
  }
  .socialDetails {
    display: flex;
    gap: 20px;
    .socialSpan {
      padding: 5px 15px;
      border: 1px solid;
      border-radius: 20px;
      .socialIcon {
        margin-right: 5px;
      }
    }
  }
}
