@import "@/styles/variables.scss";

.dayFilter {
  position: absolute;
  right: 0;
  top: 32px;
  background: $white;
  width: 170px;
  height: auto;
  max-height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
  border: solid 1px $gray_80;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  .body {
    margin: 0;
    padding: 0;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        padding: 8px 16px;
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;
        &.active,
        &:hover {
          background: $gray_95;
          font-weight: 700;
        }
        & + li {
          border-top: solid 1px $gray_80;
        }
        &:first-child {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        &:last-child {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
}
