@import "../../styles/variables.scss";
.title {
  color: #000;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  a {
    display: flex;
    align-items: center;
    .headingIcon {
      position: relative;
      top: 2px;
    }
  }
}
.headingIcon {
  vertical-align: middle;
  font-size: 40px;
}
.liveStreamhead img {
  width: auto;
  height: 26px;
}
.powered {
  display: flex;
  font-size: 12px;
  color: #4d4d4d;
  font-weight: 400;
  align-items: center;
  gap: 5px;
  img {
    width: auto;
    height: 22px;
  }
}
.seeAll {
  color: $blue-60;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  padding-top: 16px;

  span {
    vertical-align: middle;
    font-size: 24px;
    padding-left: 3px;
  }
}
.alignLeft {
  text-align: left;
}
.alignRight {
  text-align: right;
}
