.wraper{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(0,0,0,0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.perWrap{
    display: inline-block;
    vertical-align: top;
    border-radius: 15px;
    background: #FFF; 
    min-width: 900px;
    text-align: left;
}
.header{
    border-bottom: solid 1px #CDCDCD;
    padding:12px 24px;
    color: #000; 
    font-size: 16px;
    font-style: normal;
    font-weight: 700; 
    display: flex;
    align-items: center;
    .formGroup{
        padding-left:10px;
        input{
            color: #888888;
            font-size: 14px;
            font-weight: normal;
            padding: 5px 15px;
            box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
            width: 300px;
        }
    }
}
.footer{
    padding: 20px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
    text-align: right;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    .updateBtn{
        border-radius: 5px;
        border: 1px solid #000; 
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase; 
        cursor: pointer;
        padding: 10px 16px;
    }
    .removeBtn{
        margin-right:20px;
    }
}

.bodySec{
    margin:0;
}
.filterSec{
    display: flex;
    padding:0;
    .leftSec{
        padding:16px 2px 16px 24px;
        width:230px;
        h2{
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;  
        }
    }
    .rightSec{
        padding:20px 0 20px 20px;
        border-left:solid 1px #CDCDCD;
        width:900px;
        min-height: 350px;
    }
}

.topSearchSec{
    display: flex;
    .formGorup{
        position: relative;
        position: relative;
        background: #ddd;
        width: 300px;
        input{
            width:100%;
            padding:5px 10px;
        }
    }
    
}
.resultSec{
    margin:20px 0 0 0;
    .topLevelList{
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-bottom: solid 1px #dcdcdc;
        white-space: nowrap;
        .catHead{
            cursor: pointer;
            font-size: 15px;
            color: #000;
            border-bottom: solid 2px transparent;
            line-height: 30px;
            padding: 0 5px;
        }
        li{
            border-bottom: solid 2px transparent;
        }
        .active{
            border-color: #000;
            font-weight: bold;
        }
    }
}

.innerListContainer{
    margin-top: 20px;
    display: flex;
    list-style-type: none;
    column-gap: 15px;
    .subHeadName{
        font-size: 15px;
        background: #e6e5e5;
        color: #787878;
        font-weight: 600;
        border-top-left-radius: 4px;
        padding: 10px;
        border-top-right-radius: 4px;
        border: solid 1px #ececec;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        border: solid 1px #ececec;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        max-height: 228px;
        overflow-y: auto;
        li{
            padding: 10px;
            border-top: solid 1px #ececec;
            color: #46494b;
            font-size: 14px;
        }
    }
}
.innerList{
    .forGroup{
        margin:0;
        display: flex;
        justify-content: flex-start;
        align-items: self-start;
        .checkBoxSec{
            display: inline-block;
            vertical-align: top;
            margin-top: 2px;
        }
        label{
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            font-size: 12px;
            margin: 0px 0 0 5px;
        }
    }
}
.searchItemList{
    margin: 0;
    list-style-type: none;
    position: absolute;
    z-index: 5;
    max-height: 300px;
    overflow-y: scroll;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    border: solid 1px #f3f3f3;
    background-color: #fff;
    top: 24px;
    left: 1px;
    right: 1px;
    padding: 10px 0;
    li{
        display: block;
        padding: 4px 3px;
        margin: 2px;
        cursor: pointer;
        border-bottom: solid 1px #f3f3f3;
        font-size: 13px;
        font-weight: 500;
        color: #000;
        .formGroup{
            display: flex;
            input{
                width:20px;
            }
            label{
                padding-left:5px;
                cursor: pointer;
            }
        }
    }
}
.viewList{
    list-style-type: none;
    max-height: 360px;
    overflow-y: auto;
    padding: 2px;
    scrollbar-width: thin;
    //scrollbar-color: red green;
    &::-webkit-scrollbar{
        width: 4px;
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #888; /* Color of the scrollbar thumb */
        border-radius: 3px; /* Radius of the scrollbar thumb */
    }
    
    &::-webkit-scrollbar-track {
        background-color: transparent; /* Color of the scrollbar track */
    }

    li{
        .listItem{
            background: #FFF;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.11);
            margin-top: 11px;
            padding: 12px 10px 12px 35px;
            cursor: move;
            position: relative;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px;
            display: flex;
            justify-content: space-between;
            &::after{
                content: "";
                background: url(https://img.etimg.com/photo/msid-107293234,quality-100/moveicon.jpg) no-repeat 0 0;
                width: 16px;
                height: 16px;
                position: absolute;
                left: 10px;
                top: 10px;
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}
.itemRemoveTag{
    margin: 0;
    width: 18px;
    height: 18px;
    position: relative;
    cursor: pointer;
    z-index: 12;
    &::after{
        content: "";
        position: absolute;
        left: 8px;
        top:2px;
        bottom:2px;
        border-left:solid 1px #000000;
        transform: rotate(45deg);
    }
    &::before{
        content: "";
        position: absolute;
        left: 8px;
        top:2px;
        bottom:2px;
        border-left:solid 1px #000000;
        transform: rotate(-45deg);
    }
}