@import "../../styles/variables.scss";
.wraper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 99999999;
}
.wraper.errorSec,
.error.wraper {
  .section {
    border-color: $red-60;
  }
}
.section {
  min-width: 400px;
  display: inline-block;
  position: relative;
  margin-top: 100px;
  text-align: left;
  padding: 16px 24px 16px 24px;
  border: solid 1px $blue-50;
  border-left-width: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
  z-index: 9;
  background: $white;
}
.topSec {
  h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $black;
  }
}
.bottomSec {
  text-align: right;
  margin-top: 12px;
  span {
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    border-radius: 40px;
    padding: 4px 12px;
    border: solid 1px $black;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    background: $white;
    color: $black;
    cursor: pointer;
  }
  .primaryBtn {
    background: $white;
    color: $black;
  }
  .secondaryBtn {
    background: $black;
    color: $white;
  }
}
