@import "@/styles/variables.scss";

.subHead {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray_80;
  position: sticky;
  top: 54px;
  z-index: 8;
  background: $color-white;
  padding-top: 10px;

  .headName {
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
  }

  .mainTabsList {
    display: flex;
    list-style: none;
    .mainTab {
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      padding: 8px 12px;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      align-items: center;
      cursor: pointer;
      &.active {
        border-bottom: 3px solid $black;
        font-weight: 700;
      }
    }
  }
}
