.sliderMain {
  position: relative;
  .slick-slider {
    position: relative;
    button {
      display: none !important;
    }
  }
  .SliderCommonIcons {
    position: absolute;
    top: -54px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .arrowIcon {
      position: static;
      width: 26px;
      height: 26px;
      transform: none;
      &::before {
        content: none;
      }
      .commonArrow {
        display: block;
        width: 26px;
        height: 26px;
        border: 1px solid #d51131;
        border-radius: 100px;
        &::before {
          font-size: 24px;
          color: #d51131;
        }
      }
    }
  }
}
