[class^="eticon_"],
[class*=" eticon_"],
[class^="eticon_"] * {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: var(--font-eticons) !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.eticon_marketmood .path1:before {
  content: "\e900";
  color: rgb(49, 43, 43);
}
.eticon_marketmood .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(49, 43, 43);
}
.eticon_marketmood .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(49, 43, 43);
}
.eticon_marketmood .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(49, 43, 43);
}
.eticon_marketmood .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(213, 17, 49);
}
.eticon_marketmood .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 167, 33);
}
.eticon_marketmood .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(29, 147, 33);
}
.eticon_news .path1:before {
  content: "\e907";
  color: rgb(49, 43, 43);
}
.eticon_news .path2:before {
  content: "\e908";
  margin-left: -0.9228515625em;
  color: rgb(49, 43, 43);
}
.eticon_news .path3:before {
  content: "\e909";
  margin-left: -0.9228515625em;
  color: rgb(237, 25, 59);
}
.eticon_news .path4:before {
  content: "\e90a";
  margin-left: -0.9228515625em;
  color: rgb(255, 255, 255);
}
.eticon_news .path5:before {
  content: "\e90b";
  margin-left: -0.9228515625em;
  color: rgb(255, 255, 255);
}
.eticon_news .path6:before {
  content: "\e90c";
  margin-left: -0.9228515625em;
  color: rgb(255, 255, 255);
}
.eticon_news .path7:before {
  content: "\e90d";
  margin-left: -0.9228515625em;
  color: rgb(255, 255, 255);
}
.eticon_add:before {
  content: "\e90e";
}
.eticon_arrow_left:before {
  content: "\e90f";
}
.eticon_arrow_right:before {
  content: "\e910";
}
.eticon_benefits:before {
  content: "\e911";
}
.eticon_big_bull:before {
  content: "\e912";
}
.eticon_bookmark:before {
  content: "\e913";
}
.eticon_candlestick .path1:before {
  content: "\e914";
  color: rgb(213, 17, 49);
}
.eticon_candlestick .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(20, 112, 20);
}
.eticon_caret_down:before {
  content: "\e916";
}
.eticon_caret_left:before {
  content: "\e917";
}
.eticon_caret_right:before {
  content: "\e918";
}
.eticon_caret_up:before {
  content: "\e919";
}
.eticon_chart_view:before {
  content: "\e91a";
}
.eticon_chevron_left:before {
  content: "\e91b";
}
.eticon_chevron_right:before {
  content: "\e91c";
}
.eticon_cross:before {
  content: "\e91d";
}
.eticon_delete:before {
  content: "\e91e";
}
.eticon_down_arrow:before {
  content: "\e91f";
}
.eticon_download:before {
  content: "\e920";
}
.eticon_edit:before {
  content: "\e921";
}
.eticon_epaper_icon .path1:before {
  content: "\e922";
  color: rgb(49, 43, 43);
}
.eticon_epaper_icon .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(237, 25, 59);
}
.eticon_export_line:before {
  content: "\e924";
}
.eticon_filter:before {
  content: "\e925";
}
.eticon_graph_chart:before {
  content: "\e926";
}
.eticon_grid_view:before {
  content: "\e927";
}
.eticon_hamburger:before {
  content: "\e928";
}
.eticon_help:before {
  content: "\e929";
}
.eticon_hyphen:before {
  content: "\e92a";
}
.eticon_ideas:before {
  content: "\e92b";
}
.eticon_info:before {
  content: "\e92c";
}
.eticon_list_view:before {
  content: "\e92d";
}
.eticon_live_chat:before {
  content: "\e92e";
}
.eticon_lock .path1:before {
  content: "\e92f";
  color: rgb(237, 25, 59);
}
.eticon_lock .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.eticon_logout:before {
  content: "\e931";
}
.eticon_market:before {
  content: "\e932";
}
.eticon_menu_dots:before {
  content: "\e933";
}
.eticon_move:before {
  content: "\e934";
}
.eticon_newsletters:before {
  content: "\e935";
}
.eticon_next:before {
  content: "\e936";
}
.eticon_pdf .path1:before {
  content: "\e937";
  color: rgb(237, 25, 59);
}
.eticon_pdf .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(237, 25, 59);
}
.eticon_pdf .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_personalise:before {
  content: "\e93a";
}
.eticon_preferences:before {
  content: "\e93b";
}
.eticon_prev:before {
  content: "\e93c";
}
.eticon_prime_logo .path1:before {
  content: "\e93d";
  color: rgb(255, 255, 255);
}
.eticon_prime_logo .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(237, 28, 36);
}
.eticon_prime_logo .path3:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(237, 28, 36);
}
.eticon_redeem_benefits:before {
  content: "\e940";
}
.eticon_retry:before {
  content: "\e941";
}
.eticon_rupee:before {
  content: "\e942";
  color: #4d4d4d;
}
.eticon_save:before {
  content: "\e943";
}
.eticon_screeners:before {
  content: "\e944";
}
.eticon_search:before {
  content: "\e945";
}
.eticon_share:before {
  content: "\e946";
}
.eticon_sort_asc .path1:before {
  content: "\e947";
  color: rgb(0, 0, 0);
}
.eticon_sort_asc .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.eticon_sort_desc .path1:before {
  content: "\e949";
  color: rgb(153, 153, 153);
}
.eticon_sort_desc .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.eticon_srplus:before {
  content: "\e94b";
}
.eticon_star:before {
  content: "\e94c";
  color: #ffba52;
}
.eticon_subscription:before {
  content: "\e94d";
}
.eticon_thumbs_down:before {
  content: "\e94e";
}
.eticon_thumbs_up:before {
  content: "\e94f";
}
.eticon_tick:before {
  content: "\e950";
}
.eticon_up_arrow:before {
  content: "\e951";
}
.eticon_user_profile:before {
  content: "\e952";
}
.eticon_visible_eye:before {
  content: "\e953";
}
.eticon_visible_eye_off:before {
  content: "\e954";
}
.eticon_watchlist .path1:before {
  content: "\e955";
  color: rgb(49, 43, 43);
}
.eticon_watchlist .path2:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(237, 25, 59);
}
.eticon_wealth:before {
  content: "\e957";
}
.eticon_table_view .path1:before {
  content: "\e958";
  color: rgb(0, 0, 0);
}
.eticon_table_view .path2:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path3:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path4:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path5:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path6:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path7:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path8:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path9:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path10:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_recos .path1:before {
  content: "\e962";
  color: rgb(49, 43, 43);
}
.eticon_recos .path2:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(49, 43, 43);
}
.eticon_recos .path3:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_recos .path4:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_recos .path5:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_recos .path6:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_recos .path7:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_recos .path8:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_recos .path9:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_recos .path10:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(49, 43, 43);
}
.eticon_recos .path11:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(49, 43, 43);
}
