@import "./variables.scss";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/lato-regular.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "eticons";
  src: url("/fonts/eticons.eot?ulbvy2");
  src:
    url("/fonts/eticons.eot?ulbvy2#iefix") format("embedded-opentype"),
    url("/fonts/eticons.ttf?ulbvy2") format("truetype"),
    url("/fonts/eticons.woff?ulbvy2") format("woff"),
    url("/fonts/eticons.svg?ulbvy2#eticons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="eticon_"],
[class*=" eticon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "eticons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eticon_add:before {
  content: "\e900";
}
.eticon_menu_dots:before {
  content: "\e901";
}
.eticon_bookmark:before {
  content: "\e902";
}
.eticon_arrow_left:before {
  content: "\e903";
}
.eticon_arrow_right:before {
  content: "\e904";
}
.eticon_caret_down:before {
  content: "\e905";
}
.eticon_caret_left:before {
  content: "\e906";
}
.eticon_caret_right:before {
  content: "\e907";
}
.eticon_caret_up:before {
  content: "\e908";
}
.eticon_chevron_left:before {
  content: "\e909";
}
.eticon_chevron_right:before {
  content: "\e90a";
}
.eticon_prev:before {
  content: "\e90b";
}
.eticon_next:before {
  content: "\e90c";
}
.eticon_up_arrow:before {
  content: "\e90d";
}
.eticon_down_arrow:before {
  content: "\e90e";
}
.eticon_cross:before {
  content: "\e90f";
}
.eticon_tick:before {
  content: "\e910";
}
.eticon_hyphen:before {
  content: "\e911";
}
.eticon_subscription:before {
  content: "\e912";
}
.eticon_download:before {
  content: "\e913";
}
.eticon_delete:before {
  content: "\e914";
}
.eticon_edit:before {
  content: "\e915";
}
.eticon_move:before {
  content: "\e916";
}
.eticon_personalise:before {
  content: "\e917";
}
.eticon_export_line:before {
  content: "\e918";
}
.eticon_logout:before {
  content: "\e919";
}
.eticon_epaper_icon:before {
  content: "\e91a";
}
.eticon_filter:before {
  content: "\e91b";
}
.eticon_graph_chart:before {
  content: "\e91c";
}
.eticon_grid_view:before {
  content: "\e91d";
}
.eticon_table_view .path1:before {
  content: "\e91e";
  color: rgb(0, 0, 0);
}
.eticon_table_view .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path3:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path4:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path5:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path6:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path7:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path8:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path9:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_table_view .path10:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_list_view:before {
  content: "\e928";
}
.eticon_help:before {
  content: "\e929";
}
.eticon_info:before {
  content: "\e92a";
}
.eticon_ideas:before {
  content: "\e92b";
}
.eticon_chart_view:before {
  content: "\e92c";
}
.eticon_market:before {
  content: "\e92d";
}
.eticon_live_chat:before {
  content: "\e92e";
}
.eticon_sort_asc .path1:before {
  content: "\e92f";
  color: rgb(0, 0, 0);
}
.eticon_sort_asc .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.eticon_sort_desc .path1:before {
  content: "\e931";
  color: rgb(153, 153, 153);
}
.eticon_sort_desc .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.eticon_thumbs_down:before {
  content: "\e933";
}
.eticon_thumbs_up:before {
  content: "\e934";
}
.eticon_user_profile:before {
  content: "\e935";
}
.eticon_visible_eye:before {
  content: "\e936";
}
.eticon_visible_eye_off:before {
  content: "\e937";
}
.eticon_watchlist .path1:before {
  content: "\e938";
  color: rgb(0, 0, 0);
}
.eticon_watchlist .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.eticon_watchlist .path3:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_watchlist .path4:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.eticon_watchlist .path5:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.eticon_search:before {
  content: "\e93d";
}
.eticon_retry:before {
  content: "\e93e";
}
.eticon_rupee:before {
  content: "\e93f";
  color: #4d4d4d;
}
.eticon_save:before {
  content: "\e940";
}
.eticon_share:before {
  content: "\e941";
}
.eticon_big_bull:before {
  content: "\e942";
}
.eticon_wealth:before {
  content: "\e943";
}
.eticon_srplus:before {
  content: "\e944";
}
.eticon_news:before {
  content: "\e945";
}
.eticon_redeem_benefits:before {
  content: "\e946";
}
.eticon_benefits:before {
  content: "\e947";
}
.eticon_marketmood:before {
  content: "\e948";
}
.eticon_newsletters:before {
  content: "\e949";
}
.eticon_screeners:before {
  content: "\e94a";
}
.eticon_recos:before {
  content: "\e94b";
}
.eticon_preferences:before {
  content: "\e94c";
}
.eticon_candlestick .path1:before {
  content: "\e94d";
  color: rgb(213, 17, 49);
}
.eticon_candlestick .path2:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(20, 112, 20);
}
.eticon_lock .path1:before {
  content: "\e94f";
  color: rgb(237, 25, 59);
}
.eticon_lock .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.eticon_pdf .path1:before {
  content: "\e951";
  color: rgb(237, 25, 59);
}
.eticon_pdf .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_pdf .path3:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.eticon_pdf .path4:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(237, 25, 59);
}
.eticon_prime_logo .path1:before {
  content: "\e955";
  color: rgb(255, 255, 255);
}
.eticon_prime_logo .path2:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(237, 28, 36);
}
.eticon_prime_logo .path3:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(237, 28, 36);
}
.eticon_star:before {
  content: "\e958";
  color: #ffba52;
}

/*, sub, sup removed from reset class*/
/* Reset CSS */
*,
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-family: $Montserrat-font-family;
  background: transparent;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
button,
input,
img,
a img {
  border: 0;
  max-width: 100%;
}
section,
header,
footer,
article,
aside,
nav,
figcaption,
figure,
main,
.dis_b {
  display: block;
}
img:not([src]) {
  visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 0.8125rem;
  margin: 0;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: inherit;
  text-decoration: none;
}

.dflex {
  display: flex;
}
.p20 {
  padding: 20px;
}

.align-item-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.slick-dots {
  top: 0;
  right: 0;
  bottom: unset !important;
}
.slick-dots .custom-slick-dots {
  margin: 0 10px;
}
.slick-dots .custom-slick-dots li {
  width: 10px;
  height: 10px;
}
.slick-dots .custom-slick-dots li button {
  position: static;
  display: block !important;
  width: 10px;
  height: 10px;
}
.slick-dots .custom-slick-dots li button:before {
  font-size: 10px;
  width: 10px;
  height: 10px;
  line-height: 0;
}
.slick-dots .custom-slick-dots li.slick-active button:before,
.slick-dots .custom-slick-dots li button:hover:before,
.slick-dots .custom-slick-dots li button:focus:before {
  color: #d51131 !important;
}
.default-btn {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  padding: 4px 10px;
  border: 1px solid #000;
  border-radius: 100px;
  margin: 0 5px;
}
.cSprite,
.cSprite_a:after,
.cSprite_b:before {
  background: url(https://img.etimg.com/photo/msid-105560634,quality-100/common-sprite.jpg)
    no-repeat;
  display: inline-block;
  background-size: 500px;
}
.green {
  color: $green-80;
}
.red {
  color: $red-60;
}
.hide {
  display: none;
}
.hide.hideSecElement {
  display: none !important;
}

.center {
  text-align: center;
  justify-content: center;
}
.ssoLoginWrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}
.ssoLoginWrap .ssoLoginElm {
  position: relative;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 230;
  display: flex;
  justify-content: center;
  overflow: auto;
}
table {
  td {
    &.up {
      color: $green-80;
    }
    &.down {
      color: $red-60;
    }
  }
}
.numberFonts {
  font-family: Lato, sans-serif;
  color: $gray-40;
}
.container {
  display: flex;
}

.main_container {
  padding: 20px;
  flex-grow: 1;
  width: calc(100vw - 212px);
}

.heading {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/* Here Only Module Css start here */
.customeScroll {
  overflow-y: scroll;
}
.customeScroll::-webkit-scrollbar {
  width: 6px;
}
.customeScroll::-webkit-scrollbar-track {
  background: #cdcdcd;
  border-radius: 5px;
}
.customeScroll::-webkit-scrollbar-thumb {
  background: rgb(140, 140, 140);
  border-radius: 5px;
}
.customeScroll::-webkit-scrollbar-thumb:hover {
  background: rgb(87, 87, 87);
}
.customeModule {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  text-align: center;
}
.customeModule .moduleWrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 15px;
  background: #fff;
  text-align: left;
  min-width: 420px;
  margin-top: 80px;
}
.customeModule .moduleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #ccc;
  padding: 12px 16px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.customeModule .moduleBody {
  margin: 0;
  max-height: 70vh;
  position: relative;
}
.tabsWrap {
  display: flex;
  border-bottom: solid 1px #cdcdcd;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 10px 0;
  column-gap: 30px;
}
/* Here Only Module Css end here */
.customLoader .loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.customLoader .loading .loader {
  border: 4px solid rgba(0, 0, 0, 0.4);
  border-top: 4px solid #ffe9e2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animation */
}
/* Keyframes for the spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
