$img_domain: "https://img.etimg.com";
$common_sprite: $img_domain + "/photo/msid-76070229,quality-100/common-sprite.jpg";
$default-font-family: "Faustina", "sans";
$Faustina-font-family: "Faustina", "sans";
$Montserrat-font-family: "Montserrat", "Verdana";