$img_domain: "https://img.etimg.com";
$common_sprite: $img_domain +
  "/photo/msid-76070229,quality-100/common-sprite.jpg";
$common_sprite: "https://img.etimg.com/photo/msid-105560634,quality-100/common-sprite.jpg";
$color-white: #ffffff;
$color-black: #000000;
$primary_red: rgba(237, 25, 59, 1);
$primary_salmon: rgba(255, 231, 224, 1);
$red_secondary_light: rgba(254, 241, 243, 1);
$red_secondary_dark: rgba(213, 17, 49, 1);
$redText: rgba(237, 25, 59, 1);
$green_secondary_light: rgba(222, 252, 242, 1);
$green_secondary_dark: rgba(13, 135, 92, 1);
$blue_secondary_50: rgba(43, 116, 227, 1);
$blue_secondary_60: rgba(25, 91, 189, 1);
$blue_secondary_90: rgba(7, 24, 50, 1);
$black: rgba(0, 0, 0, 1);
$gray_05: rgba(13, 13, 13, 1);
$gray_10: rgba(26, 26, 26, 1);
$gray_20: rgba(51, 51, 51, 1);
$gray_30: rgba(77, 77, 77, 1);
$gray_40: rgba(102, 102, 102, 1);
$gray_50: rgba(128, 128, 128, 1);
$gray_60: rgba(153, 153, 153, 1);
$gray_70: rgba(179, 179, 179, 1);
$gray_80: rgba(204, 204, 204, 1);
$gray_90: rgba(230, 230, 230, 1);
$gray_95: rgba(244, 244, 244, 1);
$grayText: rgba(141, 141, 141, 1);

$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$salmon_stroke_bold: rgba(234, 205, 197, 1);
$salmon_stroke_light: rgba(248, 221, 214, 1);

$blue-05: rgb(232, 240, 252);
$blue-10: rgb(214, 229, 250);
$blue-20: rgb(169, 199, 244);
$blue-30: rgb(129, 173, 238);
$blue-40: rgb(84, 143, 232);
$blue-50: rgb(43, 116, 227);
$blue-60: rgb(25, 91, 189);
$blue-70: rgb(19, 69, 144);
$blue-80: rgb(12, 45, 95);
$blue-90: rgb(7, 24, 50);
$blue-95: rgb(3, 11, 23);
$gray-05: rgb(13, 13, 13);
$gray-10: rgb(26, 26, 26);
$gray-20: rgb(51, 51, 51);
$gray-30: rgb(77, 77, 77);
$gray-40: rgb(102, 102, 102);
$gray-50: rgb(128, 128, 128);
$gray-60: rgb(153, 153, 153);
$gray-70: rgb(179, 179, 179);
$gray-80: rgb(204, 204, 204);
$gray-90: rgb(230, 230, 230);
$gray-95: rgb(244, 244, 244);
$green-05: rgb(233, 251, 233);
$green-10: rgb(216, 248, 216);
$green-20: rgb(164, 239, 164);
$green-30: rgb(95, 226, 95);
$green-40: rgb(36, 203, 36);
$green-50: rgb(31, 173, 31);
$green-60: rgb(28, 156, 28);
$green-70: rgb(25, 138, 25);
$green-80: rgb(20, 112, 20);
$green-90: rgb(15, 82, 15);
$green-95: rgb(10, 56, 10);
$red-05: rgb(254, 241, 243);
$red-10: rgb(253, 231, 235);
$red-20: rgb(251, 203, 211);
$red-30: rgb(248, 165, 179);
$red-40: rgb(245, 123, 143);
$red-50: rgb(237, 25, 59);
$red-60: rgb(213, 17, 49);
$red-70: rgb(184, 14, 43);
$red-80: rgb(161, 13, 37);
$red-90: rgb(118, 9, 27);
$salmon-95: rgb(80, 6, 19);
$salmon-05: rgb(255, 251, 250);
$salmon-10: rgb(255, 251, 250);
$salmon-20: rgb(255, 243, 240);
$salmon-30: rgb(255, 239, 235);
$salmon-40: rgb(255, 233, 225);
$salmon-50: rgb(255, 226, 218);
$salmon-60: rgb(255, 199, 184);
$salmon-70: rgb(255, 159, 133);
$salmon-80: rgb(255, 107, 66);
$salmon-90: rgb(214, 46, 0);
$salmon-95: rgb(153, 33, 0);
$yellow-05: rgb(255, 251, 245);
$yellow-10: rgb(255, 247, 235);
$yellow-20: rgb(255, 241, 219);
$yellow-30: rgb(255, 233, 199);
$yellow-40: rgb(255, 222, 173);
$yellow-50: rgb(255, 214, 151);
$yellow-60: rgb(255, 186, 82);
$yellow-70: rgb(250, 150, 0);
$yellow-80: rgb(209, 125, 0);
$yellow-90: rgb(153, 92, 0);
$yellow-95: rgb(107, 64, 0);

$primary_red: $red-50;
$primary_salmon: $salmon-40;
$red_secondary_light: $red-05;
$red_secondary_dark: $red-60;
$green_secondary_light: $green-05;
$green_secondary_dark: $green-80;
