.wraper {
  margin: 0;
}
.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.overlaySmall {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.newCreate.wraper {
  margin: 0;
  position: static;
  background: #fff;
  width: 100%;
  border: solid 1px rgba(230, 230, 230, 1);
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  .perWrap {
    width: auto;
    margin: 0;
    display: block;
  }
  .body {
    margin: 0;
    position: relative;
  }
}
.perWrap {
  margin: 0;
  width: 70vw;
  position: relative;
  z-index: 2;
  background: #fff;
  border: solid 1px rgba(230, 230, 230, 1);
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.header {
  border-bottom: solid 1px #cdcdcd;
  padding: 12px 24px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  .closeIcon {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    right: 20px;
    top: 16px;
    background: url("/img/closeIcon.svg") no-repeat 0 0;
    width: 12px;
    height: 12px;
    background-size: cover;
    cursor: pointer;
  }
  .formGroup {
    padding-left: 10px;
    input {
      color: #888888;
      font-size: 14px;
      font-weight: normal;
      padding: 5px 15px;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
      width: 300px;
    }
  }
}
.footer {
  padding: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  text-align: right;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  .updateBtn {
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 16px;
    border: solid 2px #000;
  }
  .cancelBtn {
    margin-right: 20px;
    color: #000000;
    background: #ffffff;
  }
  .removeBtn {
    margin-right: 20px;
    color: rgba(213, 17, 49, 1);
    border-color: rgba(213, 17, 49, 1);
  }
}

.bodySec {
  margin: 0;
  position: relative;
  .closeIcon {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    right: 20px;
    top: 16px;
    background: url(/img/closeIcon.svg) no-repeat 0 0;
    width: 12px;
    height: 12px;
    background-size: cover;
    cursor: pointer;
  }
}
.filterSec {
  display: flex;
  padding: 0;
  .leftSec {
    padding: 16px 5px 16px 24px;
    width: 300px;
    h2 {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
    }
    .queryBox {
      border: solid 1px rgba(230, 230, 230, 1);
      border-radius: 8px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
      padding: 12px 8px 12px 8px;
      margin: 10px 10px 0 0;
      textarea {
        border: none;
        outline: none;
        background: transparent;
        resize: none;
        width: 100%;
        min-height: 40vh;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
      }
    }
  }
  .rightSec {
    padding: 0px;
    border-left: solid 1px #cdcdcd;
    width: calc(100% - 250px);
    min-height: 350px;
  }
}

.topSearchSec {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: flex-start;
  column-gap: 15px;
  padding-right: 55px;
  .formGorup {
    position: relative;
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    width: 40%;
    border: solid 1px rgba(230, 230, 230, 1);
    input {
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      padding: 12px 16px 12px 30px;
    }
  }
  .symble {
    border: solid 1px rgba(230, 230, 230, 1);
    border-radius: 3px;
    padding: 12px 16px;
    font-size: 14px;
    cursor: pointer;
  }
}
.resultSec {
  margin: 0;
  .topLevelList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    border-bottom: solid 1px #dcdcdc;
    white-space: nowrap;
    .catHead {
      cursor: pointer;
      font-size: 14px;
      color: #000;
      border-bottom: solid 2px transparent;
      line-height: 30px;
      padding: 0 8px;
      font-weight: 400;
    }
    li {
      border-bottom: solid 2px transparent;
    }
    .active {
      border-color: #000;
      .catHead {
        font-weight: bold;
      }
    }
  }
}

.innerListContainer {
  padding: 15px 20px;
  display: flex;
  list-style-type: none;
  column-gap: 15px;
  justify-content: start;
  li {
    min-width: 20%;
  }
  .subHeadName {
    font-size: 14px;
    background: rgba(230, 230, 230, 1);
    color: rgba(13, 13, 13, 1);
    font-weight: 600;
    border-top-left-radius: 4px;
    padding: 10px;
    line-height: 18px;
    border-top-right-radius: 4px;
    border-bottom: solid 1px rgba(204, 204, 204, 1);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: solid 1px rgba(230, 230, 230, 1);
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    max-height: calc(70vh - 240px);
    overflow-y: auto;
    li {
      padding: 10px;
      color: #46494b;
      font-size: 14px;
    }
    li + li {
      border-top: solid 1px rgba(230, 230, 230, 1);
    }
  }
}
.innerList {
  .forGroup {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: self-start;
    .checkBoxSec {
      display: inline-block;
      vertical-align: top;
      margin-top: 2px;
      display: none;
    }

    input:checked ~ label .checkBoxStyle {
      border-color: rgba(43, 116, 227, 1);
      background: rgba(43, 116, 227, 1);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 7px;
        display: inline-block;
        vertical-align: top;
        border-left: solid 1px #ffffff;
        transform: rotate(-45deg);
        height: 4px;
      }
      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        vertical-align: top;
        left: 5px;
        top: 7px;
        border-bottom: solid 1px #ffffff;
        transform: rotate(-45deg);
        width: 9px;
      }
    }
    label {
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      margin: 0px 0 0 5px;
      .checkBoxStyle {
        width: 16px;
        height: 16px;
        border: solid 0.8px rgba(204, 204, 204, 1);
        border-radius: 2px;
        display: inline-block;
        vertical-align: top;
        margin-right: 8px;
      }
    }
  }
}
.searchItemList {
  margin: 0;
  list-style-type: none;
  position: absolute;
  z-index: 5;
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #f3f3f3;
  background-color: #fff;
  top: 37px;
  left: 1px;
  right: 1px;
  padding: 10px 0;
  li {
    display: block;
    padding: 4px 3px;
    margin: 2px;
    cursor: pointer;
    border-bottom: solid 1px #f3f3f3;
    font-size: 13px;
    font-weight: 500;
    color: #000;
    .formGroup {
      display: flex;

      input {
        width: 20px;
        display: none;
      }
      input:checked ~ label .checkBoxStyle {
        border-color: rgba(43, 116, 227, 1);
        background: rgba(43, 116, 227, 1);
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 4px;
          top: 7px;
          display: inline-block;
          vertical-align: top;
          border-left: solid 1px #ffffff;
          transform: rotate(-45deg);
          height: 4px;
        }
        &::before {
          content: "";
          position: absolute;
          display: inline-block;
          vertical-align: top;
          left: 5px;
          top: 7px;
          border-bottom: solid 1px #ffffff;
          transform: rotate(-45deg);
          width: 9px;
        }
      }

      label {
        padding-left: 5px;
        cursor: pointer;
        .checkBoxStyle {
          width: 16px;
          height: 16px;
          border: solid 0.8px rgba(204, 204, 204, 1);
          border-radius: 2px;
          display: inline-block;
          vertical-align: top;
          margin-right: 8px;
        }
      }
    }
  }
}
.viewList {
  list-style-type: none;
  max-height: 360px;
  overflow-y: auto;
  padding: 2px 5px 5px 2px;
  scrollbar-width: thin;
  //scrollbar-color: red green;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 3px; /* Radius of the scrollbar thumb */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the scrollbar track */
  }

  li {
    .listItem {
      background: #fff;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.11);
      margin-top: 11px;
      padding: 12px 10px 12px 10px;
      cursor: move;
      position: relative;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      display: flex;
      justify-content: space-between;
      .moveSec {
        display: inline-block;
        vertical-align: top;
        position: absolute;
        left: 10px;
        top: 14px;
      }
      .itemTxt {
        margin-left: 20px;
      }
    }
  }
}
.itemRemoveTag {
  margin: 0;
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
}
.searchBtn {
  margin: 0;
  position: absolute;
  left: 11px;
  top: 12px;
}

.wraperSmall {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .perWrap {
    width: 400px;
    z-index: 2;
  }
}
.createFormGoup {
  margin: 20px;
  input {
    background: rgb(244, 244, 244);
    border-radius: 3px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 10px;
  }
}
.editViewName {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  .editIconView {
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    cursor: pointer;
    font-size: 22px;
  }
}
.valTxt {
  cursor: pointer;
}

.moreTabsListData {
  margin: 0;
}
.moreTabWrap {
  margin: 0 0 0 5px;
  position: relative;
  .moreSec {
    position: relative;
    padding-right: 20px;
    line-height: 30px;
    .moreCaretDown {
      display: inline-block;
      vertical-align: top;
      position: absolute;
      top: 5px;
      right: 2px;
      font-size: 18px;
    }
  }
}
.topLevelList li {
  &:hover {
    .moreListItem {
      display: block;
    }
  }
  .moreListItem {
    list-style-type: none;
    position: absolute;
    z-index: 5;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #f3f3f3;
    background-color: #fff;
    top: 22px;
    left: 0;
    padding: 2px 0 0 0;
    display: none;
    li {
      display: block;
      padding: 2px 14px 2px 8px;
      margin: 0;
      cursor: pointer;
      border-bottom: solid 1px #f3f3f3;
    }
    .active {
      &::after {
        bottom: 0;
      }
    }
  }
}

@media (max-height: 650px) {
  .filterSec {
    .rightSec {
      height: 60vh;
      min-height: auto;
    }
  }
  .innerListContainer li {
    max-height: calc(60vh - 175px);
  }
}
@media (max-width: 1240px) {
  .topSearchSec {
    flex-wrap: wrap;
    row-gap: 20px;
    .symble {
      padding: 6px 12px;
    }
  }
  .innerListContainer {
    ul {
      max-height: calc(59vh - 240px);
    }
  }
}
