@import "@/styles/variables.scss";

.heading {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $black;
}
.desc {
  font-size: 12px;
  color: $gray-30;
  line-height: 16px;
  font-weight: 400;
  margin: 5px auto 30px;
}

.tabsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #cdcdcd;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -20px;
  padding: 10px 20px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  position: sticky;
  background: #fff;
  top: 55px;
  z-index: 4;
  .tabsList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    width: calc(100% - 480px);
    li {
      position: relative;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      cursor: pointer;
      white-space: nowrap;
    }
    li {
      &.active {
        font-weight: 700;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -12px;
          border-bottom: solid 2px #000000;
        }
      }
    }
  }
  .roundBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid $black;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    font-weight: 600;
    padding: 3px 10px;
    white-space: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    i {
      font-size: 18px;
      margin-right: 4px;
    }
  }
}

.wrapper {
  position: relative;
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0 0;
    .head {
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
    }
    .options {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-column-gap: 10px;
      -moz-column-gap: 10px;
      column-gap: 10px;
      .roundBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
        border-radius: 15px;
        border: 1px solid $black;
        font-size: 12px;
        line-height: 18px;
        font-style: normal;
        font-weight: 600;
        padding: 3px 10px;
        white-space: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        i {
          font-size: 18px;
          margin-right: 4px;
        }
      }
      .btnGroup {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        cursor: pointer;
        border-radius: 15px;
        border: 1px solid $black;
        font-size: 12px;
        line-height: 18px;
        font-style: normal;
        font-weight: 600;
        white-space: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        li {
          padding: 3px 10px;
          &:first-child {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
          }
          &:last-child {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          }
          &.active {
            background-color: $black;
            color: $white;
          }
        }
      }
    }
  }
  .heading3 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    margin: 20px auto 0;
  }
  .center {
    margin-top: 45px;
    text-align: center;
  }
}

.tableWrapper {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: auto;
  overflow-y: "scroll";
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.marketsCustomTable {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  &.fixedLayout {
    table-layout: fixed;
  }
  &.nowrap {
    th,
    td {
      text-wrap: nowrap !important;
    }
  }
  thead {
    position: relative;
    z-index: 1;
  }
  td {
    padding: 10px 12px;
    border-right: 1px solid $gray_70;
    border-bottom: 1px solid $gray_70;
    color: $gray_40;
    background: $white;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 40px;
    font-style: normal;
    line-height: 18px;
    text-align: right;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.noPadding {
      padding: 0;
    }
    &.noRborder {
      border-right: 0;
    }
    &.left {
      max-width: 160px;
      text-align: left;
      .thead {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
      }
    }
    &.center {
      padding: 10px 5px;
      min-width: 140px;
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    &.fullWidth {
      width: 100%;
      padding: 0;
      margin: 0;
      min-width: 0;
      &.hide {
        display: none;
      }
    }
    .arrow {
      font-size: 16px;
      vertical-align: bottom;
    }
    .barCell {
      position: relative;
      display: flex;
      width: 114px;
      height: 11px;
      .bar {
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        transition: width 0.5s ease;
      }
      .separator {
        position: absolute;
        top: -3px;
        bottom: -3px;
        width: 3px;
        border: 1px solid $white;
        background-color: $black;
        left: 50%;
      }
    }
    .change {
      display: inline-block;
      margin: 0 2px 0 5px;
    }
  }

  tr.borderSeparator {
    td {
      border-bottom: 2px solid $gray_70;
    }
  }

  th {
    position: relative;
    text-align: right;
    padding: 10px 14px;
    background-color: $gray_95;
    border-right: 1px solid $gray_70;
    border-bottom: 1px solid $gray_70;
    border-right-style: solid;
    font-weight: 600;
    color: $gray_30;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    &.left {
      text-align: left;
      .thead {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
      }
    }
    &.center {
      min-width: 140px;
      padding: 10px 5px;
      text-align: center;
      .thead {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
    &.enableSort {
      cursor: pointer;
    }
    &.fullWidth {
      width: 100%;
      padding: 0;
      margin: 0;
      min-width: 0;
      &.hide {
        display: none;
      }
    }
    &.primeCell {
      background: $salmon-20;
    }
  }
}

.fixedWrapper {
  overflow: auto;
  width: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;
  &.withShadow {
    -webkit-box-shadow: 1px 0px 12px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0px 12px 0px rgba(0, 0, 0, 0.2);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    th {
      width: 95px;
    }
  }

  .fixedTD {
    max-width: 100px;
    overflow: hidden;
  }

  .fixedTr {
    td {
      &:first-child {
        color: $black;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        text-align: left;
      }
    }
  }
}

.fixedWrapper::-webkit-scrollbar {
  display: none;
}

.scrollableWrapper {
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
  margin: 30px auto 5px;
  .card {
    flex: 1;
    & + .card {
      padding-left: 15px;
      border-left: 1px solid $gray_70;
    }
  }
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray_90;
    padding: 5px 0;
    .timeline {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
    }
    .helpTxt {
      font-size: 10px;
      font-weight: 400;
      line-height: 18px;
      color: $gray_60;
    }
  }
  .rowData {
    width: 100%;
    overflow-x: auto;
    padding: 8px 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    td {
      padding: 5px 0;
      &:last-child {
        text-align: right;
      }
    }
    .barCell {
      position: relative;
      display: flex;
      width: 114px;
      height: 8px;
      background: $gray_95;
      .bar {
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        transition: width 0.5s ease;
      }
      .separator {
        position: absolute;
        top: -3px;
        bottom: -3px;
        width: 3px;
        border: 1px solid $white;
        background-color: $black;
        left: 50%;
      }
    }
  }
}

.horizontalCustomScroll {
  position: fixed;
  bottom: 0;
  top: 50%;
  right: -12px;
  background-color: white;
  z-index: 999;
  height: 105px;
  padding: 16px 8px;
  justify-content: center;
  align-items: center;
  flex: 1 0;
  align-self: stretch;
  border-radius: 5px;
  border: 0px solid #ccc;
  flex-direction: column;
  gap: 10px;
  transform: translate(12px, -50%);
  box-shadow: -4px 0px 3px 0px rgba(0, 0, 0, 0.17);
  .scrollButton {
    background: #2b74e3;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    padding: 6px 2px 8px 3px;
    font-weight: bold;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .disableBtn {
    background: #cccc;
  }
  span {
    border: 1px solid #d7d7d7;
    display: inline-block;
    width: 100%;
  }
}

.singleRowDesign {
  top: 31% !important;
}

@media (max-width: 1270px) {
  .cards {
    .head {
      .timeline {
        font-size: 12px;
      }
      .helpTxt {
        font-size: 8px;
      }
    }
    .rowData {
      font-size: 12px;
      td {
        .barCell {
          width: 70px;
        }
      }
    }
  }
  .marketsCustomTable {
    font-size: 11px;
    td {
      font-size: 11px;
      padding: 5px;
      .barCell {
        width: 70px;
        height: 8px;
      }
    }

    th {
      text-wrap: wrap;
      padding: 5px;
    }
  }
  .wrapper {
    .header {
      .head {
        font-size: 21px;
      }
    }
    .heading3 {
      font-size: 20px;
    }
  }
  .heading {
    font-size: 28px;
  }
}
