@import "@/styles/variables.scss";

.textError {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin: 10px auto 20px auto;
  p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
}
.noDataFound {
  margin-top: 10px;
  margin-bottom: 16px;
  background: url("https://img.etimg.com/thumb/width-200,height-166,imgsize-115215768,resizemode-100,msid-115215768/nodatafound.jpg") no-repeat 0 0;
  width: 100px;
  height: 83px;
  background-size: 100%;
}
