@import "@/styles/variables.scss";

/* Announcement Card Styles */
.cardsOuterContainer {
  text-align: center;
  width: 100%;
  .cardsContainer {
    display: inline-block;
    width: 1260px;
    text-align: left;
    .card {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border: 1px solid #e0e0e0;
      display: inline-block;
      border-radius: 10px;
      padding: 16px;
      width: 400px;
      height: 200px;
      margin: 10px;

      .cardHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cardTitle {
          font-size: 16px;
          font-weight: 700;
          margin: 0;
        }
        .cardAdd {
          width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          cursor: pointer;
          font-size: 20px;
          color: #2b74e3;
        }
      }

      .cardTag {
        background-color: #ffd697;
        padding: 4px 8px;
        font-size: 12px;
        border-radius: 5px;
        margin-top: 14px;
        font-weight: 600;
        display: inline-block;
      }

      .cardContent {
        margin: 12px 0;
        font-size: 14px;
        color: #333;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 51px;
      }

      .cardFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        color: #888;

        .footerTime {
          font-size: 12px;
        }
        .pdfIcon {
          width: 138px;
          margin-right: 4px;
        }
      }
    }
  }
}

.filtersBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 16px;
  .categoryBtn {
    margin: 0 10px;
    display: flex;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid #000;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    font-weight: 600;
    padding: 3px 10px;
    white-space: nowrap;
    align-items: center;
    i {
      font-size: 18px;
    }
  }
}
/* Categories Component */
.itemLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
}
.categoriesComponent {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  .searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin: 15px;
    width: -webkit-fill-available;
    box-sizing: border-box;
    background: #f4f4f4;
  }
  .categoryHeading {
    @extend .itemLabel;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 15px;
    border: 1px solid #cccccc;
    border-right: none;
    border-left: none;
  }
  .categoriesList {
    // max-height: 450px;
    max-height: 150px;
    overflow-y: auto;
    .categoryItem {
      padding: 10px 15px;
      border-bottom: 1px dotted #b3b3b3;
      &:last-child {
        border: none;
      }
      label {
        @extend .itemLabel;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
  .stickyFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-top: 1px solid #ccc;
    button {
      background: #000;
      color: #fff;
      padding: 6px 8px;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 600;
    }
  }
}

.roundBtn {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid $black;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  font-weight: 600;
  padding: 3px 10px;
  white-space: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  i {
    font-size: 18px;
    margin-right: 4px;
  }
}
