@import "@/styles/variables.scss";

.heading {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $black;
}
.desc {
  font-size: 12px;
  color: $gray-30;
  line-height: 16px;
  font-weight: 400;
  margin: 5px auto 30px;
}
