@import "@/styles/variables.scss";
.liveMarkets {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 475px;
  .marketIndex {
    display: flex;
    padding: 0 10px 0 12px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    align-items: center;
    // .indexContainer{display: flex;flex-direction: column;}

    .indexName {
      font-size: 12px;
      font-weight: 700;
    }
    .indexValue {
      font-size: 14px;
      font-weight: 400;
    }
    .indexChange {
      position: relative;
      font-size: 12px;
      font-weight: 400;
      top: 1px;
      &.green {
        color: $green-80;
      }
      &.red {
        color: $red-60;
      }
      i {
        font-size: 14px;
        vertical-align: text-bottom;
      }
    }
  }
  .marketIndex > div {
    margin-right: 5px;
  }
  .marketIndex > div:last-child {
    margin-right: 0;
  }
  .marketIndex:first-child {
    border-right: 1px solid #ccc;
  }
}
