@import "../../styles/variables.scss";
.liveMarkets {
  display: flex;
  align-items: center;
  justify-content: center;
  .marketIndex {
    display: flex;
    padding: 0 25px 0 10px;
    .indexName {
      font-weight: bold;
    }
    .indexValue {
      font-family: $Lato-font-family;
    }
    .indexChange {
      position: relative;
      font-family: $Lato-font-family !important;
      font-weight: bold;
      top: 1px;
    }
    .indexChange::before {
      font-family: "eticons" !important;
      font-weight: bold;
      font-size: 11px;
      position: absolute;
      right: -16px;
      top: 1px;
    }
  }
  .marketIndex > div {
    margin-right: 5px;
  }
  .marketIndex > div:last-child {
    margin-right: 0;
  }
  .marketIndex:first-child {
    border-right: 1px solid #ccc;
  }
}
