@import "@/styles/variables.scss";

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    .subHeading {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: $gray-30;
      border-left: 1px solid $gray_80;
      margin-left: 5px;
      padding-left: 15px;
    }
    i {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
    }
  }
  .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    .roundBtn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      border-radius: 15px;
      border: 1px solid $black;
      font-size: 12px;
      line-height: 18px;
      font-style: normal;
      font-weight: 600;
      padding: 3px 10px;
      white-space: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      i {
        font-size: 18px;
        margin-right: 4px;
      }
    }
    .btnGroup {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      cursor: pointer;
      border-radius: 15px;
      border: 1px solid $black;
      font-size: 12px;
      line-height: 18px;
      font-style: normal;
      font-weight: 600;
      white-space: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      li {
        padding: 3px 10px;
        &:first-child {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }
        &:last-child {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
        &.active {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
}

.horizontalLine {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0;
  background: $white;
  padding: 12px 5% 8px;
  max-width: 725px;
  z-index: 2;
  &.withMaxWidth {
    max-width: 625px;
  }
  span {
    padding: 0 10px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: $yellow-80;
  }
  &:before,
  &:after {
    content: "";
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 1px;
    background-color: $gray-80;
  }
}

.marketsCustomTable {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;

  td {
    padding: 14px 15px;
    border-left: 1px solid $gray_95;
    border-bottom: 1px solid $gray_80;
    background: $white;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 47px;
    font-style: normal;
    line-height: 18px;
    text-align: right;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    &.noData {
      padding: 0;
      border-left: none;
    }
    &.withTiles {
      padding: 7px 8px;
      width: 142px;
    }
    &.withBar {
      width: 625px;
      .noDataFound {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
      }
    }
    &.fullWidth {
      width: 100%;
      &.hide {
        display: none;
      }
    }
    .arrowIcons {
      font-size: 16px;
      margin-left: 7px;
      vertical-align: bottom;
    }
  }

  th {
    position: relative;
    white-space: nowrap;
    padding: 15px;
    background-color: $gray_95;
    border-left: 1px solid $gray_95;
    border-bottom: 1px solid $gray_80;
    font-weight: 600;
    color: $gray_30;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    &.extraCell {
      padding: 0 10px 4px 0;
      height: 21px;
      border-top: 0;
    }
    &.noData {
      padding: 0;
      border-left: none;
    }
    &.enableSort {
      cursor: pointer;
    }
    &.fullWidth {
      width: 100%;
      &.hide {
        display: none;
      }
    }
  }

  .noBottomBorder th {
    border-bottom: 0;
    padding-bottom: 5px;
  }

  .firstTh {
    text-align: left;
    border-left: none;
  }

  .hideThead {
    visibility: hidden;
  }
}

.fixedWrapper {
  overflow: auto;
  width: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;

  table {
    width: 365px;
    border-collapse: collapse;
    overflow: auto;
    thead {
      position: relative;
      z-index: 1;
    }
    td.firstTd {
      font-weight: 600;
      text-align: left;
      border-left: none;
    }
    th {
      text-align: right;
    }
  }

  .fixedTD {
    max-width: 100px;
    overflow: hidden;
  }

  .fixedTr {
    td {
      &:first-child {
        color: $black;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        text-align: left;
      }

      &:nth-child(2) {
        font-weight: 700;
      }
    }
  }
}

.fixedWrapper::-webkit-scrollbar {
  display: none;
}

.scrollableWrapper {
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tiles {
  font-family: var(--font-lato);
  display: block;
  text-align: center;
  padding: 8px 0;
  border-radius: 2px;
  max-width: 125px;
  min-width: 65px;
  height: 32px;
}

.ORANGE {
  background: $yellow-30;
}
.LIGHT_GREEN {
  background: $green-20;
}
.DARK_GREEN {
  background: $green-30;
}
.DARK_RED {
  background: $red-30;
}
.LIGHT_RED {
  background: $red-20;
}

.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $black;
  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    margin: 0 3px;
    &.down {
      background: $red-50;
    }
    &.neutral {
      background: $yellow-50;
    }
    &.up {
      background: $green-50;
    }
    &.neutralGray {
      background: $gray_80;
    }
  }
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  gap: 2px;
  div {
    position: relative;
    height: 8px;
    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      span {
        left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
      }
    }
    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      span {
        left: auto;
        right: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
      }
    }
    &.down {
      background: $red-50;
    }
    &.neutral {
      background: $yellow-50;
    }
    &.up {
      background: $green-50;
    }
    &.neutralGray {
      background: $gray_80;
    }
    span {
      font-family: var(--font-lato);
      position: absolute;
      top: -18px;
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      color: $gray-40;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}

.popUp {
  position: absolute;
  background: $white;
  border: 1px solid $gray_90;
  border-radius: 8px;
  width: 360px;
  top: 40px;
  left: -180px;
  z-index: 100;
  .header {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid $gray_80;
    i {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  .wrapper {
    padding: 16px;
    .zone {
      .head {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        color: $black;
        margin-bottom: 4px;
        span {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          width: 12px;
          height: 12px;
          border-radius: 2px;
          &.low {
            background: $red-50;
          }
          &.mid {
            background: $yellow-50;
          }
          &.high {
            background: $green-50;
          }
        }
      }
      p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }
      & + .zone {
        border-top: 1px solid $gray_90;
        margin-top: 12px;
        padding-top: 12px;
      }
    }
  }
}
.popUpOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  cursor: pointer;
}
