.investMentWrapper {
  padding-top: 20px;
  .title {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .headingIcon {
    vertical-align: middle;
    font-size: 40px;
  }

  .investmentData {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
    padding: 18px 0;
    cursor: pointer;
  }
}

.card {
  width: 100%;
  border-right: 1px solid #cccccc;
  overflow: hidden;
  transition: transform 0.3s;
  padding-right: 36px;

  &:hover {
    transform: translateY(-5px);
  }

  .cardTitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    padding-top: 5px;
  }
  .cardImage{
    width: 100%;
  }
}

.card:last-child {
  border: none;
}
