@import "@/styles/variables.scss";
.nonPrimeSec {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}
.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
}
.nonPrimeWrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(253, 230, 226, 1);
  z-index: 3;
  border-top: solid 4px rgba(222, 186, 174, 1);
}
.header {
  position: relative;
  .closeIcon {
    position: absolute;
    right: -1px;
    top: -11px;
    background: url("/img/modalClose2.svg") no-repeat 0 0;
    display: inline-block;
    vertical-align: top;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
}
.contentSec {
  padding: 30px 0 30px 0;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  .left {
    text-align: center;
    width: 320px;
    order:2;
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
      margin-top: 30px;
    }
  }
  .right {
    margin: 0;
    width: calc(100% - 368px);
  }
}
.topSec {
  .head {
    position: relative;
    background: url("/img/logoBlockerBig.svg") no-repeat 0 0;
    background-size: 100%;
    width: 216px;
    height: 40px;
  }
}
.subHead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
}
.middle {
  margin-top: 20px;
  .joinTxt {
    font-size: 18px;
    font-weight: 400;
    span {
      color: rgba(235, 34, 39, 1);
    }
  }
  .btnSec {
    margin-top: 28px;
    display: flex;
    align-items: center;
    .subBtn {
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      background: rgba(235, 34, 39, 1);
      border-radius: 5px;
      font-size: 18px;
      font-weight: 600;
      color: #ffffff;
      padding: 10px 30px;
      text-transform: capitalize;
    }
    .boxTxt {
      display: inline-block;
      position: relative;
      vertical-align: top;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 400;
      color: rgb(235, 34, 39);
      background-color: rgba(255, 255, 255, 0.5);
      padding: 10px 20px 10px 40px;
      text-transform: capitalize;
      border: solid 1px rgb(235, 34, 39);
      margin-left: 10px;
      &::after {
        content: "";
        position: absolute;
        left: 13px;
        top: 50%;
        margin-top: -9px;
        background: url("/img/logobigbullStar.svg") no-repeat 0 0;
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 20px;
      }
    }
  }
  .loginSec {
    font-size: 12px;
    font-weight: 400;
    margin-top: 6px;
    text-transform: capitalize;
    .signTxt {
      color: rgba(237, 25, 59, 1);
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
.bottom {
  display: flex;
}
.btnList {
  list-style-type: none;
  display: flex;
  column-gap: 10px;
  margin: 24px 0 0 10px;
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    .listIcon {
      width: 40px;
      height: 40px;
    }
    .stockRplus {
      background: url("/img/srplusicon.png") no-repeat 0 0;
      background-size: 100%;
    }
    .marketMood {
      background: url("/img/marketMood.png") no-repeat 0 0;
      background-size: 100%;
    }
    .stockAnalyzer {
      background: url("/img/stockAnalyzer.png") no-repeat 0 0;
      background-size: 100%;
    }
    .inverstmentIdeas {
      background: url("/img/inverstmentIdeas.png") no-repeat 0 0;
      background-size: 100%;
    }
    .epaper {
      background: url("/img/epaper.png") no-repeat 0 0;
      background-size: 100%;
    }
    .etprimeExclusives {
      background: url("/img/etprimeExclusives.png") no-repeat 0 0;
      background-size: 100%;
    }
  }
}
.etPrimeBenef {
  position: relative;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 400;
  padding-top: 12px;
  padding-right: 30px;
  margin-top: 40px;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 10px;
    background: url("/img/etprimelogo.png") no-repeat 0 0;
    background-size: 100%;
  }
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: -18px;
    width: 14px;
    height: 70px;
    background: url("/img/etprimelogoline.png") no-repeat top center;
    background-size: 100%;
  }
}
