#pageTopbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #e3e3e3;
  transition: all 0.1s ease-out;
  box-shadow: 0px 1px 4px #0000001a;
  z-index: 99;
  .navbarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 20px;
    min-height: 54px;
  }
  #searchBar {
    margin-left: 20px;
    width: 415px;
    .inputBox {
      width: 100%;
      height: 30px;
      padding: 7px 14px;
      border-radius: 100px;
      border: 1px solid #c1c1c1;
    }
  }
  .defaultLink {
    color: #2b74e3;
    cursor: pointer;
    margin-left: 5px;
  }
}
