@import "@/styles/variables.scss";

.widgetContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 24px 10px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 24px;
  margin: -20px;
  background: #fffbfa;
  margin-bottom: 20px;

  .IndicesContainer {
    position: relative;
    width: 70%;
    overflow: hidden;
    &.fullWidth {
      width: 100%;
    }

    .title {
      color: #000;
      font-size: 2em;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      position: relative;
    }

    .headingIcon {
      vertical-align: middle;
      font-size: 32px;
      position: absolute;
      top: 2px;
      margin-left: -5px;
    }
  }

  .topWrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .newsContainer {
    width: 30%;

    .title {
      color: #000;
      font-size: 1.6em;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    li {
      list-style: none;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      .liveBlog {
        display: inline-block;
        margin: 16px 3px 0;
        .heading {
          font-size: 10px;
          padding: 3px 5px;
          font-weight: 600;
          background: $red-50;
          color: $white;
          text-transform: uppercase;
          border-radius: 2px;
        }
        .liveBlinker {
          height: 6px;
          position: relative;
          display: inline-block;
          width: 6px;
          background: $red-50;
          border-radius: 50%;
          margin: 0 10px 0 3px;
          bottom: 1px;
          &:before,
          &:after {
            -webkit-animation: pulse 2s linear infinite;
            animation: pulse 2s linear infinite;
            border: $red-50 solid 1px;
            border-radius: 50%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            content: " ";
            height: 8px;
            width: 8px;
            left: -1px;
            opacity: 0.6;
            position: absolute;
            top: -1px;
            -webkit-transform: scale(0.714);
            -ms-transform: scale(0.714);
            transform: scale(0.714);
            z-index: 1;
          }
          &:after {
            -webkit-animation-delay: 1s;
            animation-delay: 1s;
          }
        }
        .linkBlog {
          display: block;
          font-size: 18px;
          line-height: 24px;
          font-weight: 600;
          margin-top: 0.15rem;
        }
        & + .topNewsList {
          padding-top: 8px;
        }
      }
    }

    .topNewsList {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 16px 0px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 12px;
      -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
      border-bottom: 1px solid #ccc;
      position: relative;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    .topNewsTitle {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .readTime {
      color: #666;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .seeAll {
      color: #2b74e3;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      padding: 16px 0px;
      text-align: right;
    }

    .videoIcon {
      background-position: -53px -127px !important;
      position: absolute;
      top: 20px;
      right: -2px;
      background: url(https://img.etimg.com/photo/msid-87756482,quality-100.cms);
      background-size: 101px;
      width: 15px;
      height: 15px;
      vertical-align: middle;
    }
  }

  .dataWrapper {
    padding-top: 24px;
    margin: 0 2px;
    .slick-slide {
      width: unset !important;
    }
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 4px;
  border-radius: 8px 8px 0px 0px;
  background: #fffbfa;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  border-top: 1px solid transparent;
  cursor: pointer;
  .indexName {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-wrap: nowrap;
  }

  .indexPrice {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-wrap: nowrap;
  }

  .indexChange {
    font-size: 0.9em;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-wrap: nowrap;
  }
}

.tabActive {
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background: #fffbfa;
  border-bottom: none;
  position: relative;
}

.chartOpts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 2px solid #cccccc;
  margin-top: 16px;
  margin-bottom: 16px;

  span {
    font-size: 18px;
  }

  .interval {
    list-style: none;

    li {
      position: relative;
      display: inline-block;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      color: #4f4f4f;
      padding: 5px;
      border-bottom: 2px solid transparent;
      cursor: pointer;

      & + li {
        margin-left: 15px;
      }

      &.active,
      &:hover {
        border-bottom: 3px solid #000;
      }

      &.active {
        color: $black;
        font-weight: 800;
      }
    }
  }

  .technical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2px;
  }
}

.bottomWidgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin: 4px auto;
  overflow: auto;

  .widget {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 1px solid $gray-70;
    border-radius: 8px;
    padding: 12px;
    min-height: 110px;

    .icon {
      font-size: 20px;
      vertical-align: middle;
    }

    &:first-child {
      .bottom {
        margin-top: 16px;
      }
    }

    .bottom {
      position: relative;
      margin-top: 26px;
    }

    .gap2 {
      gap: 2px;
      padding-top: 2px;
    }

    .gap10 {
      gap: 10px;
    }

    .title {
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
    }

    .desc {
      font-size: 10px;
      line-height: 12px;
      font-weight: 400;
    }

    .head {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      margin: 2px 0;
    }

    .label {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      &.bold {
        font-weight: 600;
      }
    }
    .date {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
      padding-top: 12px;
    }

    .up {
      color: $green-80;
    }

    .down {
      color: $red-60;
    }

    .bar {
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: auto;
      flex: auto;
      height: 8px;
      width: 0;
      border-radius: 2px;
      background: $blue-20;
      -webkit-transition: width 0.5s ease;
      -o-transition: width 0.5s ease;
      transition: width 0.5s ease;

      .currentPosition {
        position: absolute;
        top: -2px;
        width: 4px;
        height: 10px;
        background: $black;

        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          left: -6px;
          top: -10px;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid $black;
        }
      }

      &.up {
        background: $green-50;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.down {
        background: $red-50;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.up {
  color: $green-80;
}

.down {
  color: $red-60;
}

.arrowIcons {
  font-size: 16px;
  margin-left: 2px;
  vertical-align: bottom;
}
@media (max-width: 1024px) {
  .cards {
    padding: 10px;
    min-width: unset;
  }
}
@media (max-width: 1512px) {
  .cards {
    padding: 12px 16px;
  }
}
@media (max-width: 1210px) {
  .cards {
    width: auto;
    border-bottom: none;
    padding: 12px;
    min-width: unset;
  }
  .liveStatus {
    left: 25% !important;
  }
}
.customTabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ccc;
  .cards {
    min-width: 130px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: none;
    padding: 12px 18px;
  }
  .tabActive {
    position: relative;
  }
}
.tabActive::after {
  content: "";
  border-bottom: 3px solid #fffbfa;
  position: absolute;
  bottom: -2px;
  width: 100%;
  left: 0;
}

@-webkit-keyframes pulse {
  to {
    opacity: 0;
    -webkit-transform: scale(2.8);
    transform: scale(2.8);
  }
}

@keyframes pulse {
  to {
    opacity: 0;
    -webkit-transform: scale(2.8);
    transform: scale(2.8);
  }
}
