@import "@/styles/variables.scss";

.widgetContainer {
  display: flex;
  padding: 24px 24px 10px;
  align-items: flex-start;
  gap: 24px;
  margin: -20px;
  background: #fffbfa;
  margin-bottom: 20px;

  .IndicesContainer {
    width: 70%;

    .title {
      color: #000;
      //font-size: 24px;
      font-size: 2em;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      position: relative;
    }

    .headingIcon {
      vertical-align: middle;
      font-size: 32px;
      position: absolute;
      top: 0;
      margin-left: -5px;
    }
  }

  .topWrapper {
    position: relative;
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .newsContainer {
    width: 30%;

    .title {
      color: #000;
      // font-size: 24px;
      font-size: 1.6em;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    li {
      list-style: none;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
    }

    .topNewsList {
      display: flex;
      padding: 16px 0px;
      align-items: center;
      gap: 12px;
      align-self: stretch;
      border-bottom: 1px solid #ccc;
      position: relative;
      justify-content: space-between;
    }

    .topNewsTitle {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }

    .readTime {
      color: #666;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .seeAll {
      color: #2b74e3;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      padding: 16px 0px;
      text-align: right;
    }

    .videoIcon {
      background-position: -53px -127px !important;
      position: absolute;
      top: 20px;
      right: -2px;
      background: url(https://img.etimg.com/photo/msid-87756482,quality-100.cms);
      background-size: 101px;
      width: 15px;
      height: 15px;
      vertical-align: middle;
    }
  }

  .dataWrapper {
    padding-top: 24px;
    .slick-slide {
      width: unset !important;
    }
  }
}

.cards {
  display: flex;
  padding: 12px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 8px 8px 0px 0px;
  background: #fffbfa;
  width: fit-content;
  min-width: 150px;
  border-top: 1px solid transparent;
  cursor: pointer;
  .indexName {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 1;
  }

  .indexPrice {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .indexChange {
    font-size: 0.9em;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}

.tabActive {
  border-radius: 8px 8px 0px 0px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background: #fffbfa;
  //   box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
  border-bottom: none;
  position: relative;
  //   margin-top: -1px;
}

.chartOpts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #cccccc;
  margin-top: 16px;
  margin-bottom: 16px;

  span {
    font-size: 18px;
  }

  .interval {
    list-style: none;

    li {
      position: relative;
      display: inline-block;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      color: #4f4f4f;
      padding: 5px;
      border-bottom: 2px solid transparent;
      cursor: pointer;

      & + li {
        margin-left: 15px;
      }

      &.active,
      &:hover {
        border-bottom: 3px solid #000;
      }

      &.active {
        color: $black;
        font-weight: 800;
      }
    }
  }

  .technical {
    display: flex;
    align-items: center;
    gap: 2px;
  }
}

.bottomWidgets {
  display: flex;
  gap: 12px;
  margin: 4px auto;
  overflow: auto;

  .widget {
    flex: 1;
    border: 1px solid $gray-70;
    border-radius: 8px;
    padding: 12px;
    min-height: 110px;

    .icon {
      font-size: 20px;
      vertical-align: middle;
    }

    &:first-child {
      .bottom {
        margin-top: 16px;
      }
    }

    .bottom {
      position: relative;
      margin-top: 26px;
    }

    .gap2 {
      gap: 2px;
      padding-top: 2px;
    }

    .gap10 {
      gap: 10px;
    }

    .title {
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
    }

    .desc {
      font-size: 10px;
      line-height: 12px;
      font-weight: 400;
    }

    .head {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      margin: 2px 0;
    }

    .label {
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      &.bold {
        font-weight: 600;
      }
    }
    .date {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
      padding-top: 12px;
    }

    .up {
      color: $green-80;
    }

    .down {
      color: $red-60;
    }

    .bar {
      position: relative;
      flex: auto;
      height: 8px;
      width: 0;
      border-radius: 2px;
      background: $blue-20;
      transition: width 0.5s ease;

      .currentPosition {
        position: absolute;
        top: -2px;
        width: 4px;
        height: 10px;
        background: $black;

        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          left: -6px;
          top: -10px;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid $black;
        }
      }

      &.up {
        background: $green-50;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &.down {
        background: $red-50;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.up {
  color: $green-80;
}

.down {
  color: $red-60;
}

.arrowIcons {
  font-size: 16px;
  margin-left: 2px;
  vertical-align: bottom;
}
@media (max-width: 1024px) {
  .cards {
    padding: 10px;
    min-width: unset;
  }
}
@media (max-width: 1512px) {
  .cards {
    padding: 12px 16px;
  }
}
@media (max-width: 1210px) {
  .cards {
    width: auto;
    border-bottom: none;
    padding: 12px;
    min-width: unset;
  }
  .liveStatus {
    left: 25% !important;
  }
}
.customTabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  .cards {
    min-width: 130px;
    width: fit-content;
    border-bottom: none;
    padding: 12px 18px;
  }
  .tabActive {
    position: relative;
  }
}
.tabActive::after {
  content: "";
  border-bottom: 3px solid #fffbfa;
  position: absolute;
  bottom: -2px;
  width: 100%;
  left: 0;
}
