.heading {
  font-family: Faustina;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.desc {
  font-size: 12px;
  color: #5c5c5c;
  line-height: 20px;
  font-weight: 400;
  margin-top: 4px;
}
.watclistContainer {
  margin-top: 32px;
}
