@import "@/styles/variables.scss";

.heading {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  color: $black;
  &.withRBorder {
    margin-right: 15px;
    border-right: 1px solid $gray_90;
    padding-right: 15px;
  }
}
.desc {
  font-size: 12px;
  color: $gray-30;
  line-height: 16px;
  font-weight: 400;
  margin-top: 4px;
}
.watclistContainer {
  margin-top: 32px;
  min-height: 61vh;
}

.tabsWrap {
  display: flex;
  border-bottom: solid 1px #cdcdcd;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 10px 0;
}
