@import "@/styles/variables.scss";

.bibBullCustomTable {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;

  td {
    max-width: 150px;
    padding: 15px 12px;
    border-right: 1px solid $gray_95;
    border-bottom: 1px solid $gray_80;
    color: $gray_40;
    background: $white;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 40px;
    font-style: normal;
    line-height: 18px;
    .thead {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    &.left {
      max-width: 160px;
      text-align: left;
      .thead {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
      }
    }
    &.center {
      min-width: 140px;
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    span {
      &.upBg {
        background: #7dc37c36;
        color: #1aae55;
      }
      &.downBg {
        background: #ed193b1c;
        color: #ed193b;
      }
      &.noBg {
        background: inherit;
        color: inherit;
      }
    }
    &.fullWidth {
      width: 100%;
      padding: 0;
      margin: 0;
      min-width: 0;
      &.hide {
        display: none;
      }
    }
    .qtrText {
      font-size: 10px;
      font-weight: 400;
      color: $black;
    }
    &.rightTxt {
      text-align: right;
    }
    &.rightTxt.up,
    &.rightTxt.down {
      padding-right: 24px;
    }
  }
  .nodatafound {
    width: auto;
    max-width: 100%;
    border: none;
  }

  th {
    min-width: 110px;
    max-width: 300px;
    height: 54px;
    position: relative;
    text-align: left;
    padding: 10px;
    background-color: $gray_95;
    border-right: 1px solid $gray_95;
    border-bottom: 1px solid $gray_80;
    border-right-style: solid;
    font-weight: 600;
    color: $gray_30;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    .thead {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    &.left {
      min-width: 160px;
      text-align: left;
      .thead {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
      }
    }
    &.center {
      min-width: 140px;
      text-align: center;
      .thead {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
    &.enableSort {
      cursor: pointer;
    }
    &.fullWidth {
      width: 100%;
      padding: 0;
      margin: 0;
      min-width: 0;
      &.hide {
        display: none;
      }
    }
    &.primeCell {
      background: $salmon-20;
    }
  }
  .bestPick {
    background: rgba(255, 251, 245, 1);
  }
  .mostIncrease {
    background: rgba(244, 248, 255, 1);
  }

  .firstTh {
    width: 200px;
    min-width: 200px;
    text-align: left;
    cursor: pointer;
  }

  tr {
    background-color: $white;
  }
  .hideThead {
    visibility: hidden;
  }
  .investNameImg {
    display: flex;
    column-gap: 10px;
    text-align: left;
    .nameTxt {
      width: calc(100% - 60px);
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      font-weight: 600;
      color: $black;
      flex-direction: column;
      .fillingTxt {
        display: block;
        font-size: 10px;
        font-weight: 500;
        color: $gray_40;
      }
      .fillingTxt.NEW {
        color: $yellow_80;
      }
    }
  }
  .up {
    span {
      display: inline-block;
      vertical-align: top;
      position: relative;
      color: $green-80;
      &:after {
        content: "";
        position: absolute;
        display: inline-block;
        vertical-align: top;
        right: -12px;
        top: 3px;
        background: url("/img/uparrow.svg") no-repeat 0 0;
        height: 11px;
        width: 8px;
        background-size: cover;
      }
    }
  }
  .down {
    span {
      display: inline-block;
      vertical-align: top;
      position: relative;
      color: $red-60;
      &:after {
        content: "";
        position: absolute;
        display: inline-block;
        vertical-align: top;
        right: -12px;
        top: 3px;
        background: url("/img/downarrow.svg") no-repeat 0 0;
        height: 11px;
        width: 8px;
        background-size: cover;
      }
    }
  }
  .bestPicWraper {
    padding: 0;
  }
  .bestPickSec {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 251, 245, 1);
    padding: 12px;
    min-height: 62px;
    margin: 5px 0;
    .head5 {
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
      margin-bottom: 4px;
      color: $black;
    }
    .fresExitEntry {
      font-size: 12px;
      font-weight: 400;
      color: $black;
      padding-right: 3px;
    }
    .bestTxtSec {
      color: $black;
      font-size: 12px;
    }
    .UP {
      span {
        color: $green-80;
      }
    }
    .DOWN {
      span {
        color: $red-60;
      }
    }
  }
}
.sortIcons {
  position: relative;
  margin-left: 2px;
  top: 1px;
  span {
    font-size: 16px;
    margin-right: -9px;
    color: $gray_60;
  }
  .asc {
    color: $black;
  }
  .desc {
    color: $black;
  }
}
.expertImg {
  border-radius: 50%;
}

.bestPicWraper.bestPic2Wraper {
  .bestPickSec {
    background-color: rgba(244, 248, 255, 1);
  }
}

.nameBlur {
  margin: 0;
  background: url(https://img.etimg.com/photo/msid-105722735,quality-100/stock-reports-sprite.jpg)
    no-repeat -219px -104px;
  height: 23px;
  background-size: 384px 148px;
  font-size: 0;
  width: 100px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.buySellSec {
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 140px;
}
.buySellSec.BOUGHT {
  background-color: $green-05;
  color: $green-60;
}
.buySellSec.SOLD {
  background-color: $red-05;
  color: $red-60;
}
.mostHeldListitem {
  ul {
    list-style-type: none;
    display: flex;
    li {
      display: flex;
      align-items: center;
      border-right: solid 1px $gray_80;
      padding-right: 5px;
      margin-right: 12px;
      img {
        border-radius: 50%;
      }
      h4 {
        margin-left: 5px;
        color: $black;
        font-size: 10px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 28px;
        line-height: 1.3em;
        line-break: auto;
        width: 100px;
      }
    }
    .dotes {
      border: none;
      padding: 0 4px;
      margin: 0;
      position: relative;
      .iconBtn {
        cursor: pointer;
        flex-direction: column;
        row-gap: 3px;
        display: flex;
        justify-content: center;
        i {
          background: $blue-50;
          width: 3px;
          height: 3px;
          border-radius: 50%;
        }
      }
      .popup {
        padding: 10px;
        background: $white;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        position: absolute;
        left: 100%;
        top: 0;
        width: 150px;
        border-radius: 5px;
      }
    }
  }
}
.popupContent {
  position: relative;
  .closeBtn {
    position: absolute;
    right: -10px;
    top: -10px;
    background: url("/img/closeModule.svg") no-repeat 0 0;
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
  .contentWraper {
    margin: 0;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    .userSec {
      display: flex;
      h4 {
        width: 92px;
      }
    }
    .userSec + .userSec {
      border-top: solid 1px $gray_90;
      padding-top: 10px;
    }
  }
}
.comDivSec {
  display: flex;
  column-gap: 10px;
  text-align: left;
  .linkTxt {
    font-size: 14px;
    font-weight: 600;
    color: $black;
    span {
      display: block;
      font-size: 10px;
      font-weight: 400;
      color: $gray_30;
    }
  }
}
.bestPicks {
  tr {
    td {
      &:first-child,
      &:nth-of-type(2) {
        max-width: 350px;
        width: 350px;
      }
    }
    th + th + th {
      text-align: right;
      .thead {
        justify-content: end;
        text-align: right;
      }
    }
  }
}
.qtrChange {
  tr {
    th + th + th {
      text-align: right;
      .thead {
        justify-content: end;
        text-align: right;
      }
    }
  }
  tr {
    td {
      &:first-child,
      &:nth-of-type(2) {
        max-width: 350px;
        width: 350px;
      }
      &:last-child {
        color: $black;
      }
    }
    td + td + td {
      width: 160px;
      max-width: 160px;
    }
  }
}
.recentTrans {
  tr {
    th {
      &:nth-of-type(2) {
        .thead {
          justify-content: center;
        }
      }
    }
    th + th + th + th {
      .thead {
        justify-content: end;
        text-align: right;
      }
    }
    td {
      &:first-child,
      &:nth-of-type(3) {
        max-width: 350px;
      }
      &:nth-of-type(2) {
        width: 200px;
        max-width: 200px;
      }
      &:nth-of-type(4),
      &:nth-of-type(7),
      &:last-child {
        color: $black;
      }
    }
  }
}
.topHoldingTableIn {
  tr {
    td {
      &:first-child {
        max-width: 350px;
        width: 350px;
      }
    }
    th + th {
      .thead {
        text-align: right;
        justify-content: end;
      }
    }
  }
}
.mostHeldTable {
  tr {
    th + th + th {
      .thead {
        text-align: right;
        justify-content: end;
      }
    }
    td {
      &:first-child,
      &:nth-of-type(2) {
        max-width: 350px;
        width: 350px;
      }

      &:nth-of-type(4) {
        color: $black;
      }
    }
  }
}
