@import "@/styles/variables.scss";

.mainScrWrap {
  margin-top: 10px;
}
.head2 {
  font-size: 24px;
  font-weight: 700;
  border-bottom: solid 1px $gray-90;
  padding-bottom: 8px;
}

.mainScrCard {
  margin: 15px 10px 0 10px;
}
.linkrap {
  padding: 12px 30px 12px 0;
  border-right: solid 1px $gray-90;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .leftCard {
    .headTxt {
      font-size: 16px;
      font-weight: 600;
      text-overflow: ellipsis;
    }
    .descTxt {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      width: 220px;
      margin-top: 5px;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Limit to 2 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }
  .scrCount {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    justify-content: center;
    align-items: center;
    background: $salmon-50;
    border-radius: 50%;
    padding: 2px;
    width: 48px;
    height: 48px;
    span {
      font-size: 10px;
      font-weight: 600;
      line-height: 10px;
    }
  }
}
