@import "@/styles/variables.scss";
.marketStatus {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: $red-50;
  margin-right: 15px;
  text-transform: uppercase;
}

.updatetime {
  color: $gray_40;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
