@import "../../styles/variables.scss";

.defaultLink {
  color: $blue-90;
  cursor: pointer;
  margin-left: 4px;
  padding: 5px, 8px, 5px, 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  min-width: 70px;
}

.loginSpace {
  width: 70px;
  margin-left: 4px;
}

.menuWrap {
  position: relative;
  cursor: pointer;
  min-width: 70px;
  margin-left: 4px;
  .userProfile {
    display: flex;
    // width: 34px;
    height: 34px;
    border-radius: 50%;
    // overflow: hidden;
    margin-left: 8px;
    position: relative;
    align-items: center;
    .defaultBtn {
      display: flex;
      padding: 2px 6px 2px 14px;
      .primeUsericon {
        position: relative;
        top: 2px;
      }
      .primeInfo {
        font-size: 9px;
        margin-left: 4px;
        p {
          line-height: 10px;
        }
        p.primeMember {
          color: #ed193b;
        }
      }
      .signinDDArrow {
        font-size: 20px;
        position: relative;
        top: 0;
      }
    }
    .thumbImg {
      border-radius: 100%;
    }

    .signinDDArrow {
      font-size: 14px;
      margin-left: 4px;
    }

    .prime_icon {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: -6px;
      background: #fff;
      border-radius: 2px;
    }

    .userFChar {
      width: 34px;
      height: 34px;
      background: $blue-60;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      color: $white;
      font-weight: 700;
    }
  }
  .menuListWrap {
    width: 240px;
    position: absolute;
    top: 35px;
    border: 1px solid;
    right: 0;
    display: none;
    background: $white;
    padding: 12px;
    border: 1px solid $gray_90;
    background-color: $gray_95;
    box-shadow: 0px 0px 4px 0px #0000001a;
    border-radius: 8px;
    .userName {
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;

      .ePrimeLogo {
        .separator {
          width: 0px;
          height: 16px;
          display: inline-block;
          border-left: 1px solid $gray_80;
          margin: 0 4px;
        }
        img {
          background-color: $black;
          padding: 1px 8px 1px 8px;
          border-radius: 16px;
        }
      }
    }

    .userId {
      font-size: 10px;
      font-weight: 400;
      line-height: 12.19px;
      color: $gray_40;
      padding: 8px 0 16px;
    }

    .ddListWrap {
      list-style: none;
      background-color: $white;
      padding: 0 12px;
      border-radius: 4px;

      .ddList {
        padding: 12px 0 12px 5px;
        border-bottom: 1px solid $gray_95;
        font-size: 12px;
        font-weight: 400;
        display: flex;
        align-items: center;

        [class^="eticon_"],
        [class*=" eticon_"] {
          font-size: 16px;
          margin-right: 12px;
        }

        span,
        a {
          //display: block;
        }

        &:hover {
          background-color: $gray_95;
        }
      }

      .ddList:last-child {
        border-bottom: 0px solid $gray_95;
      }
    }
  }
  &:hover {
    .menuListWrap {
      display: block;
    }
  }

  &.primeMenu {
    .menuListWrap {
      background: linear-gradient(0deg, $salmon-20, $salmon-20),
        linear-gradient(0deg, $salmon-50, $salmon-50);
      box-shadow: 0px 0px 4px 0px #0000001a;
      border: 1px solid $salmon-50;
    }

    .userProfile {
      margin-left: 0;
      //margin-left: 24px;
    }
  }
}
.rght12 {
  margin-right: 12px;
}
