.wraper {
  margin: 0;
}
.perWrap {
  margin: 0;
}
.header {
  margin: 0;
  position: relative;
  .closeIcon {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    right: 20px;
    top: 16px;
    background: url("/img/closeIcon.svg") no-repeat 0 0;
    width: 12px;
    height: 12px;
    background-size: cover;
    cursor: pointer;
  }
}
.body {
  padding: 16px;
}
.footer {
  padding: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
  text-align: right;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  .updateBtn {
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 16px;
  }
}
.topHeader {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding-bottom: 10px;
  .leftTxt {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    line-height: 16px;
  }
  .createBtn {
    border-radius: 40px;
    background: #000;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    position: relative;
    padding: 8px 14px 8px 25px;
    cursor: pointer;
    &::after,
    &::before {
      content: "";
      display: inline-block;
      vertical-align: top;
      position: absolute;
      left: 12px;
      top: 14px;
      width: 7px;
      border-top: solid 1.2px #ffffff;
    }
    &::before {
      border-top: none;
      width: 1px;
      height: 7px;
      border-left: solid 1.2px #ffffff;
      top: 11px;
      left: 15px;
    }
  }
}
.bodySec {
  margin: 0;
  ul {
    list-style-type: none;
    max-height: 50vh;
    padding: 0 5px 10px 5px;
    li {
      .dragListItem {
        background: #fff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.11);
        margin-top: 11px;
        padding: 4px 10px 4px 10px;
        cursor: move;
        position: relative;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .moveSec {
          display: inline-block;
          vertical-align: top;
          position: absolute;
          left: 10px;
          top: 14px;
        }
        .itemTxt {
          margin-left: 20px;
          line-height: 34px;
          font-size: 14px;
          font-weight: 600;
          padding-right: 25px;
        }
      }
    }
  }
}
.checkBoxWrap {
  margin: 0;
  .checkboxSlider {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .checkboxLabel {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: auto;
  }
  .checkboxLabel input {
    display: none;
  }
  .slider {
    display: inline-block;
    vertical-align: top;
    background: url("/img/nonshoweye.svg") no-repeat 0 0.5px;
    width: 16px;
    height: 16px;
    background-size: cover;
  }
  input:checked + .slider {
    background: url("/img/showeye.svg") no-repeat center center;
  }
}
.editMode {
  margin: 0;
  position: relative;
  .editBtn {
    font-size: 20px;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -10px;
    color: rgba(153, 153, 153, 1);
  }
}
.loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  .loader {
    border: 4px solid rgba(0, 0, 0, 0.4);
    border-top: 4px solid #ffe9e2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animation */
  }
}
/* Keyframes for the spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
