@import "../../styles/variables.scss";
.navWrap {
  width: 180px;
  transition: width 0.1s ease;
  box-sizing: border-box;
  position: sticky;
  top: 60px;
  height: 86vh;
  overflow-y: auto;
  .navWrapLi {
    list-style-type: none;
    padding: 7px 15px 7px 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    .navWrapDiv {
      position: relative;
    }
    .caret {
      margin-right: 10px;
      transition: transform 0.1s ease;
      position: absolute;
      left: 0;
      top: 8px;
      display: inline-block;
      vertical-align: top;
    }
    &.expanded {
      font-weight: bold;
    }
  }
  ul.subNavWrap {
    padding-right: 15px;
    .subNavWrapLi {
      position: relative;
      a {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  ul.subNavWrap li {
    list-style-type: none;
    padding: 4px 8px;
    margin-left: 22px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 3px;
    line-break: auto;
  }
  ul.subNavWrap {
    li {
      &.active,
      &.active:hover {
        background-color: $salmon-40;
        font-weight: 600;
      }
      &:hover {
        background-color: $salmon-20;
      }
    }
  }
  .collapsed + .subNavWrap {
    display: none;
  }
  .expanded + .subNavWrap {
    display: block;
    li.active {
      background-color: $salmon-20;
      font-weight: 600;
    }
  }
}
