.topUserInfoBand {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  padding: 0 100px;
}
.grace_period.topUserInfoBand {
  margin: 0;
}
.info_content {
  display: flex;
  margin: 0 40px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  .info_cross {
    position: absolute;
    right: -36px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      left: 9px;
      top: 2px;
      height: 16px;
      border-left: solid 2px #ffffff;
      transform: rotate(45deg);
    }
    &::before {
      content: "";
      position: absolute;
      left: 9px;
      top: 2px;
      height: 16px;
      border-left: solid 2px #ffffff;
      transform: rotate(-45deg);
    }
  }
}
.info_icon {
  img {
    vertical-align: top;
    width: 220px;
  }
}
.tac {
  .info_text {
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
  }
  .info_subtext {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
  }
}
.info_cta {
  border-radius: 20px;
  background: #ffdf00;
  padding: 10px 15px;
}
