@import "../../../styles/variables.scss";
.head {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: $black;
  padding: 26px 0 0 38px;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: top;
    width: 71px;
    height: 55px;
    background: url("/img/bigbulllogo.svg") no-repeat 0 0;
    left: 0;
    top: 0;
    background-size: cover;
  }
  .etprimeLogo {
    position: absolute;
    left: 67px;
    top: 3px;
    font-size: 12px;
    font-weight: 600;
    color: $red-50;
  }
  .bigLogo {
    color: $green-40;
  }
}
.desc {
  font-size: 12px;
  font-weight: 400;
  color: rgba(119, 119, 119, 1);
  margin-top: 5px;
}
.mbfbrdc {
  margin-bottom: 60px;
}

.mainContentWraper {
  margin-top: 20px;
  margin-bottom: 50px;
}
.sectionWrap {
  margin-bottom: 40px;
}
.topHeadNavSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head1 {
  font-size: 1.5em;
  font-weight: 400;
}
.roundBtn {
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  padding: 5px 10px;
  white-space: nowrap;
}
.overviewTopHoldingSec {
  margin: 20px 0 0 0;
}
.viewHoldingLinkSec {
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: end;
  a {
    display: inline-block;
    vertical-align: top;
    color: $blue-50;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    span {
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding-right: 16px;
      &::after {
        content: "";
        display: inline-block;
        vertical-align: top;
        position: absolute;
        right: 0;
        top: 4px;
        background: url(/img/longRightArrow.svg) no-repeat -12px 0;
        width: 10px;
        height: 9px;
      }
    }
  }
}
.head3 {
  font-size: 24px;
  font-weight: 400;
}
.sortFilter {
  display: flex;
  align-items: center;
  column-gap: 5px;
  position: relative;
  .stTxt {
    font-size: 12px;
    font-weight: 600;
  }
  .dyTxt {
    font-size: 12px;
    font-weight: 400;
    position: relative;
    padding-right: 15px;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      vertical-align: top;
      top: 3px;
      right: 0;
      width: 7px;
      height: 7px;
      border-right: solid 2px $black;
      border-bottom: solid 2px $black;
      transform: rotate(45deg);
    }
  }
  &:hover {
    .sortFilterContent {
      display: block;
    }
  }
}

.sortFilterContent {
  display: none;
  position: absolute;
  right: 0;
  top: 15px;
  background: $white;
  width: 170px;
  height: auto;
  max-height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
  border: solid 1px $gray_80;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  .body {
    margin: 0;
    padding: 0;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        padding: 8px 16px;
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;
        &.active,
        &:hover {
          background: $gray_95;
          font-weight: 700;
        }
        & + li {
          border-top: solid 1px $gray_80;
        }
        &:first-child {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        &:last-child {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
}
