@import "../../../styles/variables.scss";
.head {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: $black;
  padding: 26px 0 0 38px;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: top;
    width: 71px;
    height: 55px;
    background: url("/img/bigbulllogo.svg") no-repeat 0 0;
    left: 0;
    top: 0;
    background-size: cover;
  }
  .etprimeLogo {
    position: absolute;
    left: 67px;
    top: 3px;
    font-size: 12px;
    font-weight: 600;
    color: $red-50;
  }
  .bigLogo {
    color: $green-40;
  }
}
.desc {
  font-size: 12px;
  font-weight: 400;
  color: rgba(119, 119, 119, 1);
  margin-top: 5px;
}
