@import "@/styles/variables.scss";

.heading {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $black;
}
.desc {
  font-size: 12px;
  color: $gray-30;
  line-height: 16px;
  font-weight: 400;
  margin-top: 4px;
}
.marketstatsContainer {
  display: flex;
  margin-top: 32px;
  .lhs {
    width: 195px;
  }
  .rhs {
    width: calc(100% - 195px);
  }
}
