.heading {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.desc {
  font-size: 12px;
  color: #5c5c5c;
  line-height: 20px;
  font-weight: 400;
  margin-top: 4px;
}
.marketstatsContainer {
  display: flex;
  margin-top: 32px;
  .lhs {
    width: 180px;
  }
  .rhs {
    width: calc(100% - 180px);
  }
}
